<!-- ************* FORM PARTIAL FOR ENTERING A NEW NOTE *************** -->

<%= form_for(@note, :url => user_notes_path, :remote => true) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="note_field">-->
  <div>
   	

    
  </div>

  <table class="margin-top table_row_two_thirds">
    <tr>
      <td>
        <%= f.text_field :info, :placeholder => "How do you feel right now?", class: "form_field_length_full fat" %>
      </td>
      <td>
        <%#= link_to 'Add New Note', '#', :class=> 'createButton' %>
        <%= f.submit "Post", class: "action-button inline" %>
      </td>
    </tr> 
</table>  

<% end %>
