<!-- *************************************************

	HTML FOR PDF JQERY POPUP IN 'NEW APPOINTMENTS'

	**************************************************** -->
<style type="text/css">

.form_dimension {
	background-size: 800px 1200px;
	height: 1200px;
	width: 800px;
}

#container {	
	position: relative;
	left: 0px;
	top: 0px;
	/*background: url(<%= Rails.root.join('app','assets','images','doctor3.jpg').to_s %>) no-repeat center;*/
	/*background: url(<%= Rails.root.join('public', 'system','pdfs','pdf_forms','000', '000', '005', 'large', 'demo.jpg').to_s %>) no-repeat center;*/
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/demo.jpg');
}

#container_2 {	
	position: absolute;
	left: 0px;
	top: 1150px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/medical.jpg');	
}

#container_3 {	
	position: absolute;
	left: 0px;
	top: 2300px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/payment.jpg');	
}

#container_4 {	
	position: absolute;
	left: 0px;
	top: 3500px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/communication.jpg');	
}

#container_5 {	
	position: absolute;
	left: 0px;
	top: 4700px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/privacy_1.jpg');	
}

#container_6 {	
	position: absolute;
	left: 0px;
	top: 5800px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/privacy_2.jpg');	
}

p {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

body {
	font-family: Arial;
	font-size: 14.9px;
	background: #000;
}

.left_indent {
	position: absolute;
	left: 195px;
}

.date_1 {
	position: absolute;
	top: 190px;
	left: 130px;
}

.date_2 {
	position: absolute;
	bottom: 130px;
	left: 120px;
}
.last-name {
	position: absolute;
	top: 210px;
	left: 130px;
}

.middle-init {
	position: absolute;
	top: 425px;
	left: 660px;
}

/* ------------- LINE TWO -------------- */

.user-address {
	position: absolute;
	top: 250px;
	left: 130px;
}

/* -------------- LINE THREE  ----------- */

.line-three {
	position: absolute;
	top: 280px;
}

.city {
	position: absolute;
	
	left: 130px;
}

.state {
	position: absolute;
	top: 290px; 
	left: 490px;
}

.column_right {
	position: absolute;
	right: 150px;
}
.zip{
	position: absolute;
	top: 290px;
	right: 150px;
}

.line-four {
	position: absolute;
	top: 320px;
}

.phone {
	top: 310px;
}
.cell-phone{
	position: absolute;
	right: 765px;
}

/* ------------ LINE FOUR ------------- */

.dob {
	position: absolute;
	top: 340px;
	left: 130px;
}

.line-five {
	position: absolute;
	top: 350px;
}

.age {
	position: absolute;
	left: 200px;
}
.mid_column {
	position: absolute;
	left: 380px;
}

.marital-status{
	position: absolute;	
	top: 500px;
	left: 170px;
}

/* ------------- LINE FIVE ------------ */

/* -------------- LINE SIX ------------ */

.line-six {
	top: 440px;
}

/* -------------- LINE SEVEN ------------ */

.line-seven {
	position: absolute;
	top: 400px;
}

.line-eight {
	position: absolute;
	top: 480px;
}

.employer-name {
	position: absolute;
	left: 195px;
}

.employer-address {
	top: 470px;
	left: 115px;
}

/* ------------- LINE EIGHT ------------- */


/* ------------- LINE NINE ------------- */

.employer-state{
	position: absolute;
	right: 270px;
}

.employer-zip{
	position: absolute;
	top: 714px;
	left: 450px;
}

.work-phone{
	position: absolute;
	top: 714px;
	left: 580px;
}

/* ------------- LINE TEN ------------- */

.line-ten {
	position: absolute;
	top: 695px;	
}

.insurance-company {
	position: absolute;
	left: 195px;
}

/* -------------- LINE ELEVEN -------- */

.line-eleven {
	position: absolute;
	top: 730px;
}

.insurer-address {
	position: absolute;

}

.policy_number {
	position: absolute;
	top: 710px;
	right: 190px;
}
/* -------------- LINE TWELVE --------- */

.line-twelve {
	position: absolute;
	top: 760px;
}

.insurance_city {
	position: absolute;
	left: 195px;
}

.insurance_state {
	position: absolute;
	top: 770px;
	right: 290px;
}

.insurance_zipcode {
	position: absolute;
	top: 770px;	
}

.emergency-name{
	position: absolute;
	top: 808px;
	left: 350px;
}

.emergency-relationship{
	position: absolute;	
	left: 260px;
}

/* ------------- LINE THIRTEEN --------- */

.line-thirteen {
	position: absolute;
	top: 610px;
	left: 195px;
}
/* ------------- LINE FIFTEEN ---------- */

.line-fifteen {
	position: absolute;
	top: 670px;
	left: 160px;
}

.line-sixteen {
	position: absolute;
	bottom: 300px;
	left: 300px;
}
.page_2_name {
	position: absolute;
	top: 150px;
}

.page_2_bday {
	position: absolute;
	left: 400px;
}

.line-twenty {
	position: absolute;
	top: 160px;
}

.line-twentyone {
	position: absolute;
	top: 180px;
}
.date_3 {
	position: absolute;
	bottom: 300px;
	right: 240px;
}

.name_2 {
	position: absolute;
	top: 250px;
	left: 130px;
}

.date_4 {
	position: absolute;
	bottom: 480px;
	right: 240px;
}

.name_3 {
	position: absolute;
	top: 280px;
	left: 130px;
}

.date_5 {
	position: absolute;
	top: 550px;
	left: 195px;
}

.date_6 {
	position: absolute;
	bottom: 160px;
	left: 195px;
}

.date_7 {
	position: absolute;
	bottom: 200px;	
}

.date_8 {
	position: absolute;
	bottom: 150px;	
}

.left_column {
	position: absolute;
	left: 80px;
}

.medication_1 {
	position: absolute;
	top: 490px;
}

.medication_2 {
	position: absolute;
	top: 515px;
}

.medication_3 {
	position: absolute;
	top: 540px;
}

.allergy_1 {
	position: absolute;
	top: 500px;	
}

.allergy_2 {
	position: absolute;
	top: 525px;	
}

.allergy_3 {
	position: absolute;
	top: 550px;	
}


/* -------------- LINE NINETEEN ---------- */

#one.policy-holder-last-name{
	position: absolute;
	top: 1091px;
	left: 585px;
}

#one.policy-holder-first-name{
	position: absolute;
	top: 1091px;
	left: 700px;
}

#one.insurance-birthdate{
	position: absolute;
	top: 1091px;
	left: 800px;
}

#one.insurer-relationship{
	position: absolute;
	top: 1091px;
	left: 900px;
}

/* ---------------- LINE TWENTY ----------- */

#one.group-number{
	position: absolute;
	top: 1115px;
	left: 320px;
}

</style>


<% user = current_user %>

<div id="pdf_container">
	<div id="container" class="form_dimension">

		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<div class="date_1">
			<p><%= @date_today %></p>
		</div>
		<div class="date_2">
			<p><%= @date_today %></p>
		</div>
		
		<div class="line-one last-name">
			<p>
				<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
			</p>
		</div>
		<div class="line-five age">
			<p>
				<%= user.form.personal.age %>
			</p>
		</div>
		<div class="dob">
			<p>
				<%= user.form.personal.date_of_birth %>
			</p>
		</div>
		<div class="left_indent user-address">
			<p>
				<%= user.form.personal.address %>
			</p>
		</div>
		
		<div class="line-three city">
			<p>
				<%= user.form.personal.city %>
			</p>
		</div>
		<div class="state">
			<p>
				<%= user.form.personal.state %>
			</p>
		</div>
		<div class="zip">
			<p>
				<%= user.form.personal.zip_code %>
			</p>
		</div>
		<div class="left_indent phone">
			<p>
				<%= user.form.personal.home_phone %>
			</p>
		</div>
		
		<div class="line-six employer-name">
			<p>
				<%= user.form.personal.employer %>
			</p>
		</div>
		<div class="line-eight employer-address">
			<p>
				<%= user.form.personal.work_address %>
			</p>
		</div>
		<div class="line-four column_right">
			<p>
				<%= user.form.personal.cell_phone %>
			</p>
		</div>
		<div class="line-five mid_column">
			<p>
				<%= user.form.personal.gender %>
			</p>
		</div>
		<div class="line-eight mid_column">
			<p>
				<%= user.form.personal.employer_city %>
			</p>
		</div>
		<div class="line-eight employer-state">
			<p>
				<%= user.form.personal.employer_state %>
			</p>
		</div>
		<div class="line-eight column_right">
			<p>
				<%= user.form.personal.employer_zipcode %>
			</p>
		</div>
		<div class="marital-status">
			<p>
				<%= user.form.personal.marital_status %>
			</p>
		</div>		
		<div class="line-ten insurance-company">
			<p>
				<%= user.form.insurances[0].company %>
			</p>
		</div>
		<div class="line-eleven left_indent">
			<p>
				<%= user.form.insurances[0].address %>
			</p>
		</div>
		<p class="line-ten policy_number">
			<%= user.form.insurances[0].policy_number %>
		</p>
		<p class="line-twelve insurance_city">
			<%= user.form.insurances[0].city %>
		</p>
		<p class="insurance_state">
			<%= user.form.insurances[0].state %>
		</p>
		<p class="insurance_zipcode column_right">
			<%= user.form.insurances[0].zipcode %>
		</p>
			
		<div class="line-seven emergency-relationship">
			<p>
				<%= "#{user.form.emergencies[0].name} \/ #{user.form.emergencies[0].relationship_to_patient}" %>
			</p>
		</div>		
		
		<div class="line-seven column_right">
			<p>
				<%= user.form.emergencies[0].phone_number %>
			</p>
		</div>
		
		<p class="line-thirteen">
			<% user.form.medical.medications.each do |medication| %>			
				<%= medication.info %>		
			<% end %>	
		</p>

		<p class="line-fifteen">
			<% user.form.medical.allergies.each do |allergy| %>			
				<%= allergy.info %> ;	
			<% end %>	
		</p>

		<p class="line-sixteen">
			<%= "Group Number: #{user.form.insurances[0].group_number}" %>
		</p>
	</div>

	<div id="container_2" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<% user.form.medical.medications.each do |medication| %>
			<p class="left_column medication_<%=medication.id%>">
				<%= medication.info %>
			</p>
		<% end %>		

		<p class="line-twenty column_right">
			<%= @date_today %>
		</p>

		<p class="page_2_name left_indent">
			<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
		</p>
		<p class="page_2_bday line-twenty">
			<%= user.form.personal.date_of_birth %>
		</p>

		<p class="line-twentyone left_indent">
			<%= user.form.personal.referred_by %>
		</p>
		<div>
			<% user.form.medical.allergies.each do |allergy| %>
				<p class="column_right allergy_<%=allergy.id%>">
					<%= allergy.info %>
				</p>
			<% end %>
		</div>		

		<p class="date_6">
			<%= @date_today %>
		</p>
		<p class="date_7 column_right">
			<%= @date_today %>
		</p>
		<p class="date_8 column_right">
			<%= @date_today %>
		</p>
		
	</div>

	<div id="container_3" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="date_3">
			<p>
				<%= @date_today %>
			</p>
		</div>
	</div>

	<div id="container_4" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<div class="name_2">
			<p>
				<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
			</p>
		</div>

		<p class="date_4">
			<%= @date_today %>
		</p>

	</div>

	<div id="container_5" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<p class="name_3">
			<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
		</p>
		<p class="date_5">
			<%= @date_today %>
		</p>

	</div>

	<div id="container_6" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

	</div>

</div>


