 <!-- *************************************************

	HTML FOR PDF JQERY POPUP IN 'NEW APPOINTMENTS'

	**************************************************** -->

<style type="text/css">

.form_dimension {
	background-size: 800px 1200px;
	height: 1200px;
	width: 800px;
}

#container {
position: relative;
left: 0px;
top: 0px;
background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_demo_1.jpg');
}

#container_2 {
position: absolute;
left: 0px;
top: 1150px;
background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_demo_2.jpg');
}

#container_3 {
position: absolute;
left: 0px;
top: 2300px;
background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_med-hist.jpg');
}

#container_4 {	
	position: absolute;
	left: 0px;
	top: 3500px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_finance_1.jpg');	
}

#container_5 {	
	position: absolute;
	left: 0px;
	top: 4700px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_finance_2.jpg');	
}

#container_6 {	
	position: absolute;
	left: 0px;
	top: 5800px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_privacy_1.jpg');	
}

#container_7 {	
	position: absolute;
	left: 0px;
	top: 7000px;
	background-image: url('https://s3.amazonaws.com/happyhealthapp/assets/wpd_privacy_2.jpg');	
}

body {
font-family: Arial;
font-size: 14.9px;
background: #000;
}

.line-one {
	position: absolute;
	top: 185px;
}

.last-name{
	position: absolute;
	left: 145px;
}

.first-name {
	position: absolute;
	left: 375px;
}

.middle-init {
	position: absolute;
	top: 425px;
	left: 660px;
}

/* ------------- LINE TWO -------------- */

.line-two {
	position: absolute;
	top: 255px;
}

.dob {
	position: absolute;
	top: 260px;
	right: 200px;
}

.gender {
	position: absolute;
	right: 100px;
}

/* -------------- LINE THREE  ----------- */

.line-three {
	position: absolute;
	top: 220px;
}

.user-address {
	position: absolute;
	left: 370px;
}

.phone {
	position: absolute;
	left: 160px;
}

.cell_pdf {
	position: absolute;
	right: 250px;
}

.cell-phone {
	position: absolute;
	right: 100px;
}

/* ------------ LINE FOUR ------------- */

.line-four {
	position: absolute;
	top: 425px;
}

.city {
	position: absolute;
	left: 375px;
}

.state {
	position: absolute;
	right: 300px;
}

.zip{
	position: absolute;
	right: 200px;
}

.sex{
	position: absolute;
	top: 260px;
	right: 150px;
}

.user-email{
	position: absolute;
	top: 500px;
	left: 665px;
}

/* ------------- LINE FIVE ------------ */

.background {
	position: absolute;
	top: 320px;
}

.ethnicity{
	position: absolute;
	left: 100px;
}

.race{
	position: absolute;
	left: 375px;
}

/* -------------- LINE SIX ------------ */

.line-six {
	position: absolute;
	top: 500px;
}

/* -------------- LINE SEVEN ------------ */

.line-eight {
	position: absolute;
	top: 610px;
}

.employer-name{
	position: absolute;
	left: 200px;
}

.job{
	position: absolute;
	top: 533px;
	right: 200px;
}

/* ------------- LINE EIGHT ------------- */

.employer-address{
	position: absolute;
	top: 685px;
	left: 300px;
}

/* ------------- LINE NINE ------------- */

.line-seven {
	position: absolute;
	top: 655px;
}

.policy_number {
	position: absolute;
	left: 105px;
}

.employer-zip{
	position: absolute;
	left: 400px;
}

.work-phone{
	position: absolute;
	top: 714px;
	left: 580px;
}

/* ------------- LINE TEN ------------- */

.line-ten {
	position: absolute;
	top: 535px;
}

.marital-status {
	position: absolute;
	left: 220px;
}

/* -------------- LINE ELEVEN -------- */

.line-five {
	top: 585px;
}

/* -------------- LINE TWELVE --------- */



/* ------------- LINE THIRTEEN --------- */

.line-seventeen {
	position: absolute;
	bottom: 375px;		
}

/* ------------- LINE EIGHTEEN ---------- */

.line-eighteen {
	position: absolute;
	bottom: 335px;
}

.emergency-name {
	position: absolute;
	left: 250px;
}

.emergency-phone {
	position: absolute;
	left: 200px;
}

.emergency-relationship {
	position: absolute;
	right: 100px;
}

/* -------------- LINE NINETEEN ---------- */



/* ---------------- LINE TWENTY ----------- */

.line-twenty {
	position: absolute;
	bottom: 75px;
	right: 150px;
}

/* ---------------- LINE TWENTYONE ----------- */

.line-twentyone {
	position: absolute;
	top: 100px;
}

.date_2 {
	position: absolute;
	right: 150px;
}

/* ---------------- LINE TWENTYTWO ----------- */

.line-twentytwo {
	position: absolute;
	top: 500px;
	right: 100px;
}

.line-twentythree {
	position: absolute;
	top: 100px;	
}

.referring_physician {
	position: absolute;
	top: 145px;
	left: 210px;
}

.name_2 {
	left: 100px;
}

.date_3 {
	right: 100px;
}

.left_column {
	position: absolute;
	left: 100px;
}

.medication_1 {
	position: absolute;
	top: 410px;
}

.medication_2 {
	position: absolute;
	top: 440px;
}

.medication_3 {
	position: absolute;
	top: 410px;
	left: 330px;
}

.allergies {
	position: absolute;
	top: 240px;
}

.allergy_1 {
	position: absolute;
	left: 50px;
}

.allergy_2 {
	position: absolute;
	left: 200px;
}

.allergy_3 {
	position: absolute;
	left: 350px;
}

.page_6 {
	position: absolute;
	top: 725px;
}

.name_3 {
	position: absolute;
	left: 100px;
}


.date_5 {
	position: absolute;
	right: 250px;
}

.name_7 {
	position: absolute;
	left: 220px;
	bottom: 115px;
}

.date_7 {
	position: absolute;
	right: 250px;
	bottom: 25px;
}

</style>

<% user = current_user %>

<div id="pdf_container">

	<div id="container" class="form_dimension">

		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<div class="line-one first-name">
			<p>
				<%= user.form.personal.first_name %>
			</p>
		</div>
		<div class="line-one last-name">
			<p>
				<%= user.form.personal.last_name %>
			</p>
		</div>
		
		<div class="line-six dob">
			<p>
				<%= user.form.personal.date_of_birth %>
			</p>
		</div>
		<div class="line-three user-address">
			<p>
				<%= user.form.personal.address %>
			</p>
		</div>
		<div class="line-two user-email">
			<p>
				<%= user.form.personal.email_address %>
			</p>
		</div>
		<div class="line-two city">
			<p>
				<%= user.form.personal.city %>
			</p>
		</div>
		<div class="line-two state">
			<p>
				<%= user.form.personal.state %>
			</p>
		</div>
		<div class="line-two zip">
			<p>
				<%= user.form.personal.zip_code %>
			</p>
		</div>

		<% if @format != "pdf" %>
					
			<div class="line-four cell-phone">
				<p>
					<%= user.form.personal.cell_phone %>
				</p>
			</div>

		<% else %>

			<div class="line-four cell_pdf">
				<p>
					<%= user.form.personal.cell_phone %>
				</p>
			</div>

		<% end %>

		<div class="background race">
			<p>
				<%= user.form.personal.race %>
			</p>
		</div>

		<div class="background ethnicity">
			<p>
				<%= user.form.personal.ethnicity %>
			</p>
		</div>

		<div class="line-four phone">
			<p>
				<%= user.form.personal.home_phone %>
			</p>
		</div>
		
		<div class="line-eight employer-name">
			<p>
				<%= user.form.personal.employer %>
			</p>
		</div>
		<div class="line-four employer-address">
			<p>
				<%= user.form.personal.work_address %>
			</p>
		</div>
		<div class="line-four employer-phone">
			<p>
				<%= user.form.personal.employer_phone %>
			</p>
		</div>
		
			<p class="job">
				<%= user.form.personal.occupation %>
			</p>
				
		<div class="line-ten marital-status">
			<p>
				<%= user.form.personal.marital_status %>
			</p>
		</div>
		<div class="line-five insurer-policy-holder">
			<p>
				<%= "#{user.form.insurances[0].subscribers_first_name} #{user.form.insurances[0].subscribers_last_name}" %>
			</p>
		</div>
		<div class="line-seventeen emergency-name">
			<p>
				<%= user.form.emergencies[0].name %>
			</p>
		</div>
		
		<div class="line-seventeen emergency-relationship">
			<p>
				<%= user.form.emergencies[0].relationship_to_patient %>
			</p>
		</div>
		<div class="line-eighteen emergency-phone">
			<p>
				<%= user.form.emergencies[0].phone_number %>
			</p>
		</div>
		
		<div class="line-twenty">
			<p>
				<%= @date_today %>
			</p>
		</div>
		
	</div>

	<div id="container_2" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="guardian_date">
			<p>
				<%= @date_today %>
			</p>
		</div>
		<div>
			<p class="line-twentyone date_2">
				<%= @date_today %>
			</p>
		</div>
		
	</div>

	<div id="container_3" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="line-twentythree name_2">
			<p>
				<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
			</p>
		</div>
		<div class="line-twentythree date_3">
			<p>
				<%= @date_today %>
			</p>
		</div>
		<div>
			<p class="referring_physician">
				<%= user.form.personal.referred_by %>
			</p>
		</div>
		<div>
			
			<% user.form.medical.medications.each do |medication| %>
				<p class="left_column medication_<%=medication.id%>">
					<%= medication.info %>
				</p>
			<% end %>

			<% user.form.medical.allergies.each do |allergy| %>
				<p class="allergies allergy_<%=allergy.id%>">
					<%= allergy.info %>
				</p>
			<% end %>
			
		</div>
	</div>

	<div id="container_4" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>		

	</div>

	<div id="container_5" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<p class="page_6 name_3">
			<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
		</p>
		<p class="page_6 date_5">
			<%= @date_today %>
		</p>

	</div>

	<div id="container_6" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

	</div>

	<div id="container_7" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<p class="name_7">
			<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
		</p>
		<p class="date_7">
			<%= @date_today %>
		</p>

	</div>
</div>
