<h1>HappyHealth's Affiliate Offices</h1>

  <div id="accordion">
      <% @offices.each_with_index do |office, index| %>
        <h3>
            <a href="#"><%= office.name %></a>
        </h3>
        <div class="accordion_<%=office.id%>">
          <p>
            <b>Address:</b>
            <%= office.address %>
          </p>
          <p>
            <b>City:</b>
            <%= office.city %>
          </p>
          <p>
            <b>State:</b>
            <%= office.state %>
          </p>
          <p>
            <b>Zipcode:</b>
            <%= office.zipcode %>
          </p>
          <p>
            <b>Phone Number:</b>
            <%= office.phone %>
          </p>
          <p>
            <b>Fax Number:</b>
            <%= office.fax %>
          </p>
          <p>
             <i><%= link_to 'Go to Office Details >>', office %></i>
          </p>
          <ul class="inline-block">
            <li>
              <button value=<%= office.id %> id="appt" class="createButton inline">View Office Form</button>
            </li>
            <li>
                <button value=<%=office.id%> class="pdfButton office-form-download">Download PDF</button>
            </li>
          </ul>
          <br /><br /><br />
           <div class="tos_agreement" id=<%=office.id%>>
                <%= form_for(@receipt, :url => :receipt) do |f| %>
                  <!-- <p id="TOS" title"Terms of Service and Privacy Policy Agreement" class="legal">By checking the button below, you agree to abide by our Terms of Service and Privacy Policy.</p> -->
                  <%= f.check_box :tos_priv, :id => "tos_#{office.id}" %>
                  <p>By checking the box and clicking agree, you agree to abide by our Terms of Service and Privacy Policy</p>
                  <%= f.hidden_field :office_id, :value => office.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.submit 'I Agree', :class => "submit_tos", :id => office.id %>
                <% end %>
           </div>
        </div>
      <% end %>
  </div>
<br />

<% if current_user.is_admin != true %>

<% else %>
  <%= link_to 'Add a New Office', new_office_path %>
<% end %>

<%= render 'appointments/forms/mada.pdf.html.erb' %>

<%= render 'appointments/forms/clsma.pdf.html.erb' %>

<%= render 'appointments/forms/mhc.pdf.html.erb' %>

<%= render 'appointments/forms/sawlani_demographics.pdf.html.erb' %>
