<h1>List of Doctor's Offices</h1>
  
  <!-- <div class="margin-top margin-bottom">
    <a href="mailto:info@happyhealth.me?subject=New%20Office%20Request&amp;body=Hi%20HappyHealth.%20My%20name%20is%0D%0A%0D%0ACan%20you%20please%20add%20the%20following%20Office%20information%20to%20your%20site?%0D%0A%0D%0AOffice%20name:%0D%0AOffice%20phone%20number:%0D%0AMy%20appointment%20Date:%0D%0A%0D%0AContact%20Email:%0D%0A%0D%0AThanks%20so%20much%20and%20keep%20rocking%20on!" title="Request adding a new Doctor's Office" class="action-button">New Office Request</a>
  </div> -->

  <ul class="new_office_request">
    <li class="office_request_text margin-bottom">
      Don't see your particular office? Contact us at least 3 days before your visit, and we'll add it to our system. Try it!
    </li>
    <li>
      <a href="mailto:info@happyhealth.me?subject=New%20Office%20Request&amp;body=Hi%20HappyHealth.%20My%20name%20is%0D%0A%0D%0ACan%20you%20please%20add%20the%20following%20Office%20information%20to%20your%20site?%0D%0A%0D%0AOffice%20name:%0D%0AOffice%20phone%20number:%0D%0AMy%20appointment%20Date:%0D%0A%0D%0AContact%20Email:%0D%0A%0D%0AThanks%20so%20much%20and%20keep%20rocking%20on!" title="Request adding a new Doctor's Office" class="action-button">New Office Request</a>
    </li>
  </ul>
  
  <div id="accordion" "clear">
      <% @offices.each_with_index do |office, index| %>
        <h3>
            <a href="#"><%= office.name %></a>
        </h3>
        <div class="accordion_<%=office.id%>">
          <p>
            <b>Address:</b>
            <%= office.address %>
          </p>
          <p>
            <b>City:</b>
            <%= office.city %>
          </p>
          <p>
            <b>State:</b>
            <%= office.state %>
          </p>
          <p>
            <b>Zipcode:</b>
            <%= office.zipcode %>
          </p>
          <p>
            <b>Phone Number:</b>
            <%= office.phone %>
          </p>
          <p>
            <b>Fax Number:</b>
            <%= office.fax %>
          </p>
          <p>
             <i><%= link_to 'Go to Office Details >>', office %></i>
          </p>
          <ul class="inline-block" id="office_<%=office.id%>">
            <li>
              <button value=<%= office.id %> id="appt" class="createButton inline">View Office Form</button>
            </li>
            <li>
                <button id="office_<%=office.id%>" class="pdfButton office-form-download">Download PDF</button>
            </li>
          </ul>
          <br /><br /><br />
           <div class="tos_agreement" id="office_<%=office.id%>">

                <%= form_for(@receipt, :url => :receipt) do |f| %>
                  <!-- <p id="TOS" title"Terms of Service and Privacy Policy Agreement" class="legal">By checking the button below, you agree to abide by our Terms of Service and Privacy Policy.</p> -->
                  <%= f.check_box :tos_priv, :id => "tos_#{office.id}" %>
                  <p>By checking the box and clicking "I Agree", you agree to abide by our <a href="http://www.happyhealth.me/terms.html" title="Go to Terms of Service Agreement" target="_blank" class="agreement_links">Terms of Service</a> and you consent to our <a href="http://www.happyhealth.me/privacy.html" title="Go to Privacy Policy" target="_blank" class="agreement_links">Privacy Policy</a>.</p>
                  <%= f.hidden_field :office_id, :value => office.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.submit 'I Agree', :class => "submit_tos submit-button", :id => office.id %>
                <% end %>
           </div>
        </div>
      <% end %>
  </div>
<br />

<% if current_user.is_admin != true %>
  
<% else %>
  <%= link_to 'Add a New Office', new_office_path %>
<% end %>

<%= render 'appointments/forms/mada.pdf.html.erb' %>

<%= render 'appointments/forms/clsma.pdf.html.erb' %>

<%= render 'appointments/forms/mhc.pdf.html.erb' %>

<%= render 'appointments/forms/sawlani_demographics.pdf.html.erb' %>
