<p id="notice"><%= notice %></p>

<div class="dashAppointments margin-top">
  <section class="right">
    <p>
      <%= link_to "Add a new form", new_office_pdf_path(@office) %>
    </p>
    <p>
      <% @pdfs.each do |pdf| %>
        <%= image_tag pdf.pdf_form.url(:small) %><br />
        <%= link_to pdf.form_name, office_pdf_path(@office, pdf) %><br />
      <% end %>
    </p>
  </section>
  <section>
    <h2>
      <%= link_to "Download PDF", office_path(@office, :format => 'pdf') %>
    </h2>
    <p>
      <b>Office Name:</b>
      <%= @office.name %>
    </p>

    <p>
      <b>Address:</b>
      <%= @office.address %>
    </p>

    <p>
      <b>City:</b>
      <%= @office.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @office.state %>
    </p>

    <p>
      <b>Zipcode:</b>
      <%= @office.zipcode %>
    </p>

    <p>
      <b>Phone Number:</b>
      <%= @office.phone %>
    </p>

    <p>
      <b>Fax Number:</b>
      <%= @office.fax %>
    </p>
    <dl>
      <dt>Physicians:</dt>
        <% @office.sorted_doctors.each do |doctor| %>
          <dd><%= doctor.title %></dd>
        <% end %>
    </dl>
    <!-- <ul class="inline-block">
      <li>
        <button value=<%= @office.id %> id="appt" class="createButton inline">View Office Form</button>
      </li>
        <div id="edit-form" class="office-form-download"> <!-- Test Button
          <button class="pdfButton office-form-download">
            Download PDF
          </button>
          <p id="TOS" title"Terms of Service and Privacy Policy Agreement" class="legal">
            <%#= form_for @appointment do |f| %>
              <%#= f.check_box_tag :tos_priv %> By checking the box and clicking "OK", you agree to abide by our Terms of Service and Privacy Policy.
            <%# end %>
          </p>
        </div>
      </li>
    </ul> -->

    <% if current_user.is_admin != true %>
      <%= link_to 'Back to Office List', offices_path %>
    <% else %>
      <%= link_to 'Edit Details', edit_office_path(@office) %> |
      <%= link_to 'Delete Office', @office, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Back to Office List', offices_path %>
    <% end %>    

  </section>
</div>
