<p id="notice"><%= notice %></p>

<h1>Your Eligibility Summary!</h1>
<fieldset class="dashAppointments">
	
	<table class="show-table">
		<p class="dot-bottom">
			<%= @eligibility %>
	["error"].nil?>

		<% if @eligibility["error"].present? %> 

			<h2>An error occured with the query, please try again later</h2>

		<% else %>		
			<tr>
				<th>
					Coverage Status:
				</th>
				<% unless @eligibility["plan"]["coverage_status_label"].blank? %> 
				<td>
					<%= @eligibility["plan"]["coverage_status_label"] %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Effective Date: 
				</th>
				<% unless @eligibility["plan"]["dates"][1]["date_value"].nil? %> 
				<td>
					<%= @eligibility["plan"]["dates"][1]["date_value"] %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Group Name: 
				</th>
				<% unless @eligibility["plan"].nil? %> 
				<td>
					<%= @eligibility["plan"]["group_name"] %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Plan: 
				</th>
				<% unless @eligibility["primary_insurance"].nil? %> 
				<td>
					<%= @eligibility["primary_insurance"]["comments"][0] %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Deductible Total (In): 
				</th>
				<% unless @eligibility["deductible_in_network"].nil? %> 
				<td>
					<%= number_to_currency(@eligibility["deductible_in_network"]["individual"]["base_period"]) %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Deductible Remaining (In): 
				</th>
				<% unless @eligibility["deductible_in_network"].nil? %> 
				<td>
					<%= number_to_currency(@eligibility["deductible_in_network"]["individual"]["remaining"]) %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Incidentals (In): 
				</th>
				<% unless @eligibility["deductible_in_network"].nil? %> 
				<td>
					<%= @eligibility["deductible_in_network"]["individual"]["comments"] %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Deductible Total (Out): 
				</th>
				<% unless @eligibility["stop_loss_in_network"].nil? %> 
				<td>
					<%= number_to_currency(@eligibility["stop_loss_in_network"]["individual"]["base_period"]) %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Deductible Remaining (Out): 
				</th>
				<% unless @eligibility["stop_loss_in_network"].nil? %> 
				<td>
					<%= number_to_currency(@eligibility["stop_loss_in_network"]["individual"]["remaining"]) %>
				</td>
				<% end %>
			</tr>
			<tr>
				<th>
					Incidentals (Out): 
				</th>
				<% unless @eligibility["stop_loss_in_network"].nil? %> 
				<td>
					<%= @eligibility["stop_loss_in_network"]["individual"]["comments"] %>
				</td>
				<% end %>
			</tr>
		<% end %>
	</table>	
</fieldset>

<%#= link_to 'Edit', edit_insurance_query_path(@insurance_query, id: 1) %>
<%= link_to 'Back', new_insurance_query_path, class: "button back-length" %>
