<%# index = 0%>

<%= f.fields_for :insurances, form.insurances do |builder| %>

	<fieldset class="demoBackground">
	<legend><%= "#{form.insurances[0].title} Insurance "%></legend>
	<ul>
		<li>
		 	<%= builder.label :insurance_company %>
			<%= builder.text_field :company, :class => "patient-relationship" %>
			<%#= builder.label :payer_id %>
			<%#= builder.collection_select :payer_id, Payer.all, :id, :payer_name, {prompt: 'Select Insurance'}, {style: 'width:240px'} %>
		</li>
		 <li>
			<%= builder.label :relationship_to_patient %>
			<%= builder.text_field :relationship_to_patient, :class => "patient-relationship" %>
		</li> 
		<!--<li>
			<%#= builder.label :insurance_holder_relationship_to_patient %>
			Self: <%#= builder.check_box :relationship_to_patient %>
			If other than yourself: <%#= builder.text_field :relationship_to_patient %>			
		</li>-->		

		<li>
			<label>Insurance Address</label>
			<%= builder.text_field :address, :class => "insurance-address" %>
		</li>
		<li>
			<%= builder.label :city %><%= builder.text_field :city, :class => "insurance-city" %>
		</li>
		<li>
			<%= builder.label :state %><%= builder.select :state, options_for_select(us_states.each.map { |state| [state[:abrv]]}, form.insurances[0].state) %>
		</li>
		<li>
			<%= builder.label :zipcode %>
			<%= builder.text_field :zipcode, :class => "insurance-zipcode" %>
		</li>
		<li>
			<label>Group Number</label>
			<%= builder.text_field :group_number, :class => "group-number" %>
		</li>
		<li>
			<label>Group Name</label>
			<%= builder.text_field :group_name, :class => "group-name" %>
		</li>
		<li>
			<label>Effective Date</label>
			<%= builder.text_field :eff_date, :class => "effective-date" %>
		</li>
		<li>
			<label>Policy Number</label>
			<%= builder.text_field :policy_number, :class => "policy-number" %>
		</li>
		<li>
			<label>Subscriber's Last Name</label>
			<%= builder.text_field :subscribers_last_name, :class => "subscriber-lastname" %>
		</li>
		<li>
			<label>Subscriber's First Name</label>
			<%= builder.text_field :subscribers_first_name, :class => "subscriber-firstname" %>
		</li>
		<li>
			<label>Subscriber's Address</label>
			<%= builder.text_field :subscribers_address, :class => "subscriber-address" %>
		</li>
		<li>
			<label>Subscriber's City</label> <%= builder.text_field :subscribers_city, :class => "subscriber-city" %>
		</li>
		<li>
			<label>Subscriber's State</label> <%= builder.select :subscribers_state, options_for_select(us_states.each.map { |state| [state[:abrv]]}, form.insurances[0].subscribers_state) %>
		</li>
		<li>
			<label>Subscriber's Zipcode</label>
			<%= builder.text_field :subscribers_zipcode, :class => "subscriber-zipcode" %>
		</li>
		<li>
			<label>Social Security</label>
			<%= builder.text_field :social_security, :class => "subscriber-social-security" %>
		</li>
		<li>
			<label>Date of Birth</label>
			<%= builder.text_field :birthdate, :class => "subscriber-birthdate" %>
		</li>
		<li>
			<%= builder.label :gender %>
			M: <%= builder.radio_button :sex, "male" %>
			F: <%= builder.radio_button :sex, "female" %>
		</li>
		<li>
			<label>Subscriber's Phone</label>
			<%= builder.text_field :subscribers_phone, :class => "subscriber-phone" %>
		</li>
		<li>
			<label>Subscriber's Employer</label>
			<%= builder.text_field :subscribers_employer, :class => "subscriber-employer" %>
		</li>
	</ul>
	<hr />
	</fieldset>
	<%# index = 1%>

	<!-- ************** DENTAL & VISION INSURANCE BELOW *************** -->

	<%= builder.fields_for :dental do |dental| %>
		<fieldset class="demoBackground">
			<legend>Dental Insurance</legend>
			<ul>
				<li>
					<%= dental.label :dent_company, "Company Name" %>
					<%= dental.text_field :dent_company %>
				</li>
				<li>
					<%= dental.label :eff_date, "Effective Date" %>
					<%= dental.text_field :eff_date %>
				</li>
				<li>
					<%= dental.label :group_name, "Group Name" %>
					<%= dental.text_field :group_name %>
				</li>
				<li>
					<%= dental.label :group_number, "Group Number" %>
					<%= dental.text_field :group_number %>
				</li>
				<li>
					<%= dental.label :policy_number, "Policy Number" %>
					<%= dental.text_field :policy_number %>
				</li>
			</ul>

				<%= dental.hidden_field :insurance_id %>
		</fieldset>
	<% end %>

	<%= builder.fields_for :vision do |vision| %>
		<fieldset class="demoBackground">
			<legend>Vision Insurance</legend>
			<ul>
				<li>
					<%= vision.label :vision_company, "Company Name"%>
					<%= vision.text_field :vision_company %>
				</li>
				<li>
					<%= vision.label :eff_date, "Effective Date" %>
					<%= vision.text_field :eff_date %>
				</li>
				<li>
					<%= vision.label :group_name, "Group Name" %>
					<%= vision.text_field :group_name %>
				</li>
				<li>
					<%= vision.label :group_number, "Group Number" %>
					<%= vision.text_field :group_number %>
				</li>
				<li>
					<%= vision.label :policy_number, "Policy Number" %>
					<%= vision.text_field :policy_number %>
				</li>
			</ul>

				<%= vision.hidden_field :insurance_id %>
		</fieldset>
	<% end %>

<% end %>
