<% index = 0%>

<%= f.fields_for :insurances, form.insurances do |builder| %>

	<fieldset class="demoBackground">
	<legend><%= "#{form.insurances[index].title} Insurance "%></legend>

		<li>
			<table>
				<tr class="table_row_half">
					<td>
					 	<%= builder.label :insurance_company %>
						<%= builder.text_field :company, :class => "form_field_length" %>
						<%#= builder.label :payer_id %>
						<%#= builder.collection_select :payer_id, Payer.all, :id, :payer_name, {prompt: 'Select Insurance'}, {style: 'width:240px'} %>
					<!-- </li>
					 <li> -->
					 </td>
					 <td>
						<label>Insurance Address</label>
						<%= builder.text_field :address, :class => "form_field_length" %>
					</td>
				</tr>
			</table>
		</li>
		<!--<li>
			<%#= builder.label :insurance_holder_relationship_to_patient %>
			Self: <%#= builder.check_box :relationship_to_patient %>
			If other than yourself: <%#= builder.text_field :relationship_to_patient %>
		</li>-->

		<li class="table_row_full">

		</li>
		<li>
			<table>
				<tr class="table_row_third">
					<td>
						<%= builder.label :city %><%= builder.text_field :city, :class => "form_field_length" %>

					<!-- </li>
					<li> -->
					</td>
					<td>
						<%= builder.label :state %><%= builder.select :state, options_for_select(us_states.each.map { |state| [state[:abrv]]}, form.insurances[0].state), class: "form_field_length" %>
					<!-- </li>
					<li> -->
					</td>
					<td>
						<%= builder.label :zipcode %>
						<%= builder.text_field :zipcode, :class => "form_field_length" %>
					</td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr class="table_row_half">
					<td>
						<label>Group Number</label>
						<%= builder.text_field :group_number, :class => "form_field_length" %>
					<!-- </li>
					<li> -->
					</td>
					<td>
						<label>Group Name</label>
						<%= builder.text_field :group_name, :class => "form_field_length" %>
					</td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr class="table_row_half">
					<td>
						<label>Effective Date</label>
						<%= builder.text_field :eff_date, :class => "form_field_length" %>
					<!-- </li>
					<li> -->
					</td>
					<td>
						<label>Policy Number</label>
						<%= builder.text_field :policy_number, :class => "form_field_length" %>
					</td>
				</tr>
			</table>
		</li>

		<div class="panel">
			<label>Are you the Insurance Policy Holder?</label>

			<a href="#" class="panel-tab submit-button">No (click to <span class="panel-text">Open</span>)</a> <br /><br />
			<div class="panel-stage hidden">
				<li>
					<table>
						<tr class="table_row_half">
							<td>
								<label>Subscriber's Last Name</label>
								<%= builder.text_field :subscribers_last_name, :class => "form_field_length" %>
							<!-- </li>
							<li> -->
							</td>
							<td>
								<label>Subscriber's First Name</label>
								<%= builder.text_field :subscribers_first_name, :class => "form_field_length" %>
							</td>
						</tr>
					</table>
					<table>
						<tr class="table_row_half">
							<td>
								<!--<label>Social Security</label>
								<%#= builder.text_field :social_security, :class => "form_field_length" %>-->
								<%= builder.label :relationship_to_patient %>
								<%= builder.text_field :relationship_to_patient, :class => "form_field_length" %>
							</td>
							<td>
								<%= builder.label :gender %>
								Male: <%= builder.radio_button :sex, "male" %>
								Female: <%= builder.radio_button :sex, "female" %>
							<!-- </li>
							<li> -->
							</td>
						</tr>
					</table>
				</li>
				<li class="table_row_full">
					<label>Subscriber's Address</label>
					<%= builder.text_field :subscribers_address, :class => "form_field_length_full" %>
				</li>
				<li>
					<table>
						<tr class="table_row_third">
							<td>
								<label>Subscriber's City</label> <%= builder.text_field :subscribers_city, :class => "form_field_length" %>
							<!-- </li>
							<li> -->
							</td>
							<td>
								<label>Subscriber's State</label> <%= builder.select :subscribers_state, options_for_select(us_states.each.map { |state| [state[:abrv]]}, form.insurances[0].subscribers_state) %>
							<!-- </li>
							<li> -->
							</td>
							<td>
								<label>Subscriber's Zipcode</label>
								<%= builder.text_field :subscribers_zipcode, :class => "form_field_length" %>
							</td>
						</tr>
					</table>
				</li>
				<li>

				</li>
				<li>
					<table>
						<tr class="table_row_third">
							<td>
								<label>Date of Birth</label>
								<%= builder.text_field :birthdate, :class => "form_field_length" %>
							<!-- </li>
							<li> -->
							</td>
							<td>
								<label>Subscriber's Phone</label>
								<%= builder.text_field :subscribers_phone, :class => "form_field_length" %>
							<!-- </li>
							<li> -->
							</td>
							<td>
								<label>Subscriber's Employer</label>
								<%= builder.text_field :subscribers_employer, :class => "form_field_length" %>
							</td>
					</table>
				</li>
			</div>

			Yes: <%= builder.radio_button :relationship_to_patient, "Self", id: "insurance-relationship-radio" %>
		</div>

	</fieldset>
	<% index = 1%>

<% end %>

	<!-- ************** DENTAL & VISION INSURANCE BELOW *************** -->

<%= f.fields_for :dental do |dental| %>
	<fieldset class="demoBackground">
		<legend>Dental Insurance</legend>
		<ul>
			<li>
				<%= dental.label :dent_company, "Company Name" %>
				<%= dental.text_field :dent_company %>
			</li>
			<li>
				<%= dental.label :eff_date, "Effective Date" %>
				<%= dental.text_field :eff_date %>
			</li>
			<li>
				<%= dental.label :group_name, "Group Name" %>
				<%= dental.text_field :group_name %>
			</li>
			<li>
				<%= dental.label :group_number, "Group Number" %>
				<%= dental.text_field :group_number %>
			</li>
			<li>
				<%= dental.label :policy_number, "Policy Number" %>
				<%= dental.text_field :policy_number %>
			</li>
		</ul>

			<%= dental.hidden_field :form_id %>
	</fieldset>
<% end %>

<%= f.fields_for :vision do |vision| %>
	<fieldset class="demoBackground">
		<legend>Vision Insurance</legend>
		<ul>
			<li>
				<%= vision.label :vision_company, "Company Name"%>
				<%= vision.text_field :vision_company %>
			</li>
			<li>
				<%= vision.label :eff_date, "Effective Date" %>
				<%= vision.text_field :eff_date %>
			</li>
			<li>
				<%= vision.label :group_name, "Group Name" %>
				<%= vision.text_field :group_name %>
			</li>
			<li>
				<%= vision.label :group_number, "Group Number" %>
				<%= vision.text_field :group_number %>
			</li>
			<li>
				<%= vision.label :policy_number, "Policy Number" %>
				<%= vision.text_field :policy_number %>
			</li>
		</ul>

			<%= vision.hidden_field :form_id %>
	</fieldset>
<% end %>
