<!-- ************************************************* 
	
	HTML FOR PDF JQERY POPUP IN 'NEW APPOINTMENTS' 

	**************************************************** -->

<%= stylesheet_link_tag "clsma" %>

<div class="clsma" title="Chicago">
	<div id="container">
		<!-- PATIENT INFORMATION -->
		<div class="pos line-one first-name">
			<p>
				<%= user.form.personal.first_name %>
			</p><!--<ul class="first-name pos line-one">
			<li>Rashad</li>
			<li>A</li>
			<li>Abdul-Salaam</li>
			<li>32</li>
			<li>8/17/1980</li>
		</ul>-->
		</div>
		<div class="pos line-one middle-init">
			<p>
				<%= user.form.personal.middle_initial %>
			</p>
		</div>
		<div class="pos line-one last-name">
			<p>
				<%= user.form.personal.last_name %>
			</p>
		</div>
		<div class="pos line-four dob">
			<p>
				<%= user.form.personal.date_of_birth %>
			</p>
		</div>
		<div class="pos line-two user-address">
			<p>
				<%= user.form.personal.address %>
			</p>
		</div>
		<div class="pos line-four user-email">
			<p>
				<%= user.form.personal.email_address %>
			</p>
		</div>
		<div class="pos line-three city">
			<p>
				<%= user.form.personal.city %>
			</p>
		</div>
		<div class="pos line-three state">
			<p>
				<%= user.form.personal.state %>
			</p>
		</div>
		<div class="pos line-three zip">
			<p>
				<%= user.form.personal.zip_code %>
			</p>
		</div>
		<div class="pos line-three phone">
			<p>
				<%= user.form.personal.home_phone %>
			</p>
		</div>
		<div class="pos line-three cell-phone">
			<p>
				<%= user.form.personal.cell_phone %>
			</p>
		</div>
		<div class="pos line-four sex">
			<p>
				<%= user.form.personal.gender %>
			</p>
		</div>
		<div class="pos line-four marital-status">
			<p>
				<% if user.form.personal.marital_status %>
					<%= user.form.personal.marital_status[0] %>
				<% end %>
			</p>
		</div>
		<div class="pos line-five ethnicity">
			<p>
				<%= user.form.personal.ethnicity %>
			</p>
		</div>
		<div class="pos line-five race">
			<p>
				<%= user.form.personal.race %>
			</p>
		</div>
		<div class="pos line-seven referring-physician">
			<p>
				<%= user.form.personal.referred_by %>
			</p>
		</div>
		<div class="pos line-eight primary-care-physician">
			<p>
				<%#= user.form.primary-care-physician %>
			</p>
		</div>
		<div class="pos line-twelve social-security-number">
			<p>
				<%= user.form.personal.ss_number %>
			</p>
		</div>
		<div class="pos line-twelve drivers-license">
			<p>
				<%#= user.form.drivers-license %>
			</p>
		</div>
		<div class="pos line-nine employer-name">
			<p>
				<%= user.form.personal.employer %>
			</p>
		</div>
		<div class="pos line-ten employer-address">
			<p>
				<%= user.form.personal.work_address %>
			</p>
		</div>
		<div class="pos line-eleven employer-phone">
			<p>
				<%= user.form.personal.employer_phone %>
			</p>
		</div>
		<div class="pos line-eleven employer-city">
			<p>
				<%= user.form.personal.employer_city %>
			</p>
		</div>
		<div class="pos line-eleven employer-state">
			<p>
				<%= user.form.personal.employer_state %>
			</p>
		</div>
		<div class="pos line-eleven employer-zip">
			<p>
				<%= user.form.personal.employer_zipcode %>
			</p>
		</div><!-- PATIENT'S INSURANCE -->
		<div class="pos line-ten insurance-company">
			<p>
				<%#= user.form.insurances[0].company %>
			</p>
		</div>
		<div class="pos line-ten insurer-address">
			<p>
				<%#= user.form.insurances[0].address %>
			</p>
		</div>
		<div class="pos line-eleven insurer-policy-holder">
			<p>
				<%#= "#{user.form.insurances[0].subscribers_first_name} #{user.form.insurances[0].subscribers_last_name}"  %>
			</p>
		</div>
		<div class="pos line-eleven insurer-coverage">
			<p>
				<%#= user.form.insurances[0]. %>
			</p>
		</div>
		<div class="pos line-twelve insurance-policy-employer">
			<p>
				<%#= user.form.insurances[0].subscribers_employer %>
			</p>
		</div>
		<div class="pos line-twelve insured-soc-number">
			<p>
				<%#= user.form.insurances[0].social_security %>
			</p>
		</div><!-- SPOUSE'S INSURANCE -->
		<!--<div class="pos line-thirteen spouse-insurance-company">
		<p><%#= user.form.spouse-insurance-company %></p>
	</div>

	<div class="pos line-thirteen spouse-insurer-address">
		<p><%#= user.form.spouse-insurer-address %></p>
	</div>

	<div class="pos line-fourteen spouse-insurer-policy-holder">
		<p><%#= user.form.spouse-insurer-policy-holder %></p>
	</div>

	<div class="pos line-fourteen spouse-insurer-coverage">
		<p><%#= user.form.spouse-insurer-policy-holder %></p>
	</div>

	<div class="pos line-fifteen spouse-employer-name">
		<p><%#= user.form.spouse-employer-name %></p>
	</div>

	<div class="pos line-fifteen spouse-employer-address">
		<p><%#= user.form.spouse-employer-address %></p>
	</div>

	<div class="pos line-fifteen spouse-employer-phone">
		<p><%#= user.form.spouse-employer-phone %></p>
	</div>

	<div class="pos line-sixteen spouse-employer-city">
		<p><%#= user.form.spouse-employer-city %></p>
	</div>

	<div class="pos line-sixteen spouse-employer-zip">
		<p><%#= user.form.spouse-employer-zip %></p>
	</div>-->
		<!-- MISCELLANEOUS INFORMATION -->
		<div class="pos line-fourteen emergency-name">
			<p>
				<%= user.form.emergencies[0].name %>
			</p>
		</div>
		<div class="pos line-eighteen emergency-address">
			<p>
				<%#= user.form.emergencies[0].address %>
			</p>
		</div>
		<div class="pos line-fourteen emergency-relationship">
			<p>
				<%= user.form.emergencies[0].relationship_to_patient %>
			</p>
		</div>
		<div class="pos line-fourteen emergency-phone">
			<p>
				<%= user.form.emergencies[0].phone_number %>
			</p>
		</div>
		<div class="pos line-nineteen emergency-name-2">
			<p>
				<%#= user.form.emergencies[1].name %>
			</p>
		</div>
		<div class="pos line-nineteen emergency-address-2">
			<p>
				<%#= user.form.emergencies[1].address %>
			</p>
		</div>
		<div class="pos line-nineteen emergency-relationship-2">
			<p>
				<%#= user.form.emergencies[1].relationship_to_patient %>
			</p>
		</div>
		<div class="pos line-nineteen emergency-phone-2">
			<p>
				<%#= user.form.emergencies[1].phone_number %>
			</p>
		</div>
	</div>
</div>
