<fieldset class="demoBackground">
	<legend>Health Problems</legend>

	<table class="show-table-horizontal">
		<thead>
			<th>Conditions</th>
			<th>Age of onset</th>
			<th>Status</th>
		</thead>

		<% if form.medical.problems[0].condition? %>
			<% form.medical.problems.each do |problem| %>

				<tr>
					<td><%= problem.condition %></td>
					<td><%= problem.age_onset %></td>
					<td><%= problem.status %></td>
				</tr>

			<% end %>

		<% else %>
			<i>You have no conditions listed</i>
		<% end %>

	</table>
</fieldset>

<fieldset class="demoBackground">
	<legend>Allergies</legend>
	<table class="show-table-horizontal">
		<thead>
			<th>Allergen</th>
			<th>Reaction</th>
			<th>Severity</th>
		</head>

		<% if form.medical.allergies[0].info? %>
			<% form.medical.allergies.each do |allergy| %>
				<tr>
					<td><%= allergy.info %></td>
					<td><%= allergy.reaction %></td>
					<td><%= allergy.severity %></td>
				</tr>
			<% end %>
		<% else %>
			<tr><td><i>No allergies listed</i></td></tr>
		<% end %>

	</table><br />
</fieldset>

<fieldset class="demoBackground">
	<legend>Medications</legend>
	<table class="show-table-horizontal">
		<thead>
			<th>Medication</th>
			<th>Reason for Taking</th>
		</thead>

		<% if form.medical.medications[0].info? %>
			<% form.medical.medications.each do |medication| %>

				<tr>
					<td><%= medication.info %></td>
					<td><%= medication.reason %></td>
				</tr>

			<% end %>

		<% else %>
			<i>No medications listed</i>
		<% end %>

	</table>
</fieldset>


