<fieldset class="demoBackground">
	<legend>Medical Information</legend>


	<%= f.fields_for :medical do |medical| %>
		<h2>Allergies</h2>
		<ul class="inline">
			<%= medical.fields_for :allergies, form.medical.allergies do |builder| %>
				<li class="table_row_half">
					<label>Allergen:</label>
					<%= builder.text_field :info, class: "form_field_length_full" %>
				</li>
				<li class="table_row_half">
					<label>Reaction:</label>
					<%= builder.text_field :reaction, class: "form_field_length_full" %>
				</li>
			<% end %>
		</ul>

		<%#= link_to "Add allergy", '#'%><br /><br />

		<h2>Medications</h2>
		<table>
			<thead>
				<th>Medication/Dose</th>
				<th>Reason For Taking</th>
			</thead>

			<tbody>
				<%= medical.fields_for :medications, form.medical.medications do |builder| %>
					<tr class="table_row_half">
						<td><%= builder.text_field :info, :class => "form_field_length margin-bottom"%></td>
						<td><%= builder.text_field :reason, :class => "form_field_length margin-bottom" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%#= link_to "Add medication", '#'%>
	<% end %>

</fieldset>
