<fieldset class="demoBackground">
<legend>Responsible Party for Minors</legend>
<%= f.fields_for :responsible do |builder| %>
	<li>
		<label>First Name</label><%= builder.text_field :first_name, :class => "first-name" %>
	</li>
	<li>
		<label>Middle Init.</label><%= builder.text_field :middle_initial, :class => "middle-initial" %>
	</li>
	<li>
		<label>Last Name</label><%= builder.text_field :last_name, :class => "last-name" %>
	</li>
	<li>
		<label>Nickname</label><%= builder.text_field :nickname, :class => "emergency-name" %>
	</li>
	<li>
		<label>Relationship to Patient</label>
		<%= builder.text_field :relationship_to_patient, :class => "emergency-name" %>
	</li>
	<li>
		<label>Number of Dependents</label>
		<%= builder.text_field :number_of_dependents, :class => "emergency-name" %>
	</li>
	<li>
		<label>Date of Birth</label><%= builder.text_field :birthdate %>
	</li>
	<li>
		<%= builder.label :age %>
		<%= builder.number_field :age, :class => "middle-initial" %>
	</li>
	<li>
		<label>Social Security #</label><%= builder.text_field :social_security %>
	</li>
	<li>
		<label>Gender</label>
		M: <%= builder.radio_button :sex, "male" %>
		F: <%= builder.radio_button :sex,  "female" %>
	</li>
	<li>
		<%= builder.label :address %>
		<%= builder.text_field :address, :class => "home-phone" %>
	</li>
	<li>
		<label>Mailing Address (if different)</label> <%= builder.text_field :mailing_address, :class => "home-phone" %>
	<li>
		<%= builder.label :city %>
		<%= builder.text_field :city, :class => "emergency-name" %>
	</li>
	<li>
		<%= builder.label :state %>
		<%= builder.select :state, options_for_select(us_states.each.map { |state| [state[:abrv]]}, form.responsible.state) %>
	</li>
	<li>
		<%= builder.label :zipcode %>
		<%= builder.text_field :zipcode, :class => "emergency-name" %>
	</li>
	<li>
		<%= builder.label :home_phone %>
		<%= builder.text_field :home_phone, :class => "home-phone" %>
	</li>
	<li>
		<%= builder.label :work_phone %>
		<%= builder.text_field :work_phone, :class => "home-phone" %>
	</li>
	<li>
		<label>Marital Status</label>
		<%= builder.radio_button :marital_status,  "Single" %>Single
		<%= builder.radio_button :marital_status,  "Married" %>Married
		<%= builder.radio_button :marital_status,  "Widowed" %>Widowed
		<%= builder.radio_button :marital_status,  "Divorced" %>Divorced
	</li>
	<li>
		<%= builder.label :employer %>
		<%= builder.text_field :employer, :class => "emergency-name" %>
	</li>
	<li>
		<%= builder.label :occupation %>
		<%= builder.text_field :occupation, :class => "emergency-name" %>
	</li>
	<li>
		<label>Work Address</label>
		<%= builder.text_field :work_address, :class => "emergency-name" %>
	</li>
	<li>
		<label>Employment Status</label>
		<%= builder.radio_button :employer_status,  "Full-time" %>Full-time
		<%= builder.radio_button :employer_status,  "Part-time" %>Part-time
		<%= builder.radio_button :employer_status,  "Not-employed" %>Not-employed
	</li>
	
<% end %>
</fieldset>