<fieldset class="demoBackground">
	<legend>Responsible Party for Minors</legend>
		<table class="show-table">
			<tr>
				<th class="right-align">First Name:</th>
				<td class="left-align"> <%= @form.responsible.last_name %></td>
			</tr>
			<tr>
				<th class="right-align">Last Name:</th>
				<td class="left-align"> <%= @form.responsible.first_name %></td>
			</tr>
			<tr>
				<th class="right-align">Middle Initial: </th>
				<td class="left-align"> <%= @form.responsible.middle_initial %></td>
			</tr>
			<tr>
				<th class="right-align">Nickname: </th>
				<td class="left-align"> <%= @form.responsible.nickname %></td>
			</tr>
			<tr>
				<th class="right-align">Relationship to responsible party:</th>
				<td class="left-align"> <%= @form.responsible.relationship_to_patient %></td>
			</tr>
			<tr>
				<th class="right-align">Number of dependents:</th>
				<td class="left-align"> <%= @form.responsible.number_of_dependents %></td>
			</tr>
			<tr>
				<th class="right-align">Date of Birth:</th>
				<td class="left-align"><%= @form.responsible.birthdate %></td>
			</tr>
			<tr>
				<th class="right-align">Age: </th>
				<td class="left-align"> <%= @form.responsible.age %></td>
			</tr>
			<tr>
				<th class="right-align">Social Security Number:</th>
				<td class="left-align"> <%= @form.responsible.social_security %></td>
			</tr>
			<tr>
				<th class="right-align">Gender:</th>
				<td class="left-align"> <%= @form.responsible.sex %></td>
			</tr>
			<tr>
				<th class="right-align">Address:</th>
				<td class="left-align"> <%= @form.responsible.address %></td>
			</tr>
			<tr>
				<th class="right-align">Mailing Address:</th>
				<td class="left-align"> <%= @form.responsible.mailing_address %></td>
			</tr>
			<tr>
				<th class="right-align">City:</th>
				<td class="left-align"> <%= @form.responsible.city %></td>
			</tr>
			<tr>
				<th class="right-align">State:</th>
				<td class="left-align"> <%= @form.responsible.state %></td>
			</tr>
			<tr>
				<th class="right-align">Zipcode:</th>
				<td class="left-align"> <%= @form.responsible.zipcode %></td>
			</tr>
			<tr>
				<th class="right-align">Home phone:</th>
				<td class="left-align"> <%= @form.responsible.home_phone %></td>
			</tr>
			<tr>
				<th class="right-align">Work phone:</th>
				<td class="left-align"> <%= @form.responsible.work_phone %></td>
			</tr>
			<tr>
				<th class="right-align">Marital Status:</th>
				<td class="left-align"> <%= @form.responsible.marital_status %></td>
			</tr>
			<tr>
				<th class="right-align">Employer: </th>
				<td class="left-align"> <%= @form.responsible.employer %></td>
			</tr>
			<tr>
				<th class="right-align">Employment status:</th>
				<td class="left-align"> <%= @form.responsible.employer_status %></td>
			</tr>
			<tr>
				<th class="right-align">Occupation:</th>
				<td class="left-align"> <%= @form.responsible.number_of_dependents %></td>
			</tr>
			<tr>
				<th class="right-align">Work Address:</th>
				<td class="left-align"> <%= @form.responsible.occupation %></td>
			</tr>
		</table>	  
</fieldset>
