<!-- *************************************************

	HTML FOR PDF JQERY POPUP IN 'NEW APPOINTMENTS'

	**************************************************** -->

<% if @format != 'pdf' %>
  <%= stylesheet_link_tag 'mhc' %>
<% else %>
  <%= wicked_pdf_stylesheet_link_tag 'mhc' %>
<% end %>

<% user = current_user %>

<div class="form_wrapper mhc" title="">
	<div id="container" class="form_dimension">

		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<div class="line-one first-name">
			<p>
				<%= user.form.personal.first_name %>
			</p>
		</div>
		<div class="line-one last-name">
			<p>
				<%= user.form.personal.last_name %>
			</p>
		</div>
		<div class="line-one age">
			<p>
				<%= user.form.personal.age %>
			</p>
		</div>
		<div class="line-one dob">
			<p>
				<%= user.form.personal.date_of_birth %>
			</p>
		</div>
		<div class="line-three user-address">
			<p>
				<%= user.form.personal.address %>
			</p>
		</div>
		<div class="line-two user-email">
			<p>
				<%= user.form.personal.email_address %>
			</p>
		</div>
		<div class="line-four city">
			<p>
				<%= user.form.personal.city %>
			</p>
		</div>
		<div class="line-four state">
			<p>
				<%= user.form.personal.state %>
			</p>
		</div>
		<div class="line-four zip">
			<p>
				<%= user.form.personal.zip_code %>
			</p>
		</div>
		<div class="line-three phone">
			<p>
				<%= user.form.personal.home_phone %>
			</p>
		</div>
		<div class="line-three cell-phone">
			<p>
				<%= user.form.personal.cell_phone %>
			</p>
		</div>
		<div class="line-three social-security-number">
			<p>
				<%= user.form.personal.ss_number %>
			</p>
		</div>
		<div class="line-six employer-name">
			<p>
				<%= user.form.personal.employer %>
			</p>
		</div>
		<div class="line-four employer-address">
			<p>
				<%= user.form.personal.work_address %>
			</p>
		</div>
		<div class="line-four employer-phone">
			<p>
				<%= user.form.personal.employer_phone %>
			</p>
		</div>
		<div class="line-seven policy_number">
			<p>
				<%= user.form.insurances[0].policy_number %>
			</p>
		</div>
		<div class="line-five subscriber_birthday">
			<p>
				<%= user.form.personal.employer_state %>
			</p>
		</div>
		<div class="line-seven employer-zip">
			<p>
				<%= user.form.insurances[0].group_name %>
			</p>
		</div>
		<div class="line-six occupation">
			<p>
				<%= user.form.personal.occupation %>
			</p>
		</div>
		<div class="line-ten ">
			<p>
				<%= user.form.insurances[0].company %>
			</p>
		</div>
		<div class="line-ten insurance-company">
			<p>
				<%= user.form.insurances[0].company %>
			</p>
		</div>
		<div class="line-five insurer-policy-holder">
			<p>
				<%= "#{user.form.insurances[0].subscribers_first_name} #{user.form.insurances[0].subscribers_last_name}" %>
			</p>
		</div>
		
		<div class="line-thirteen spouse-insurance-company">
			<p>
				<%#= user.form. %>
			</p>
		</div>
		<div class="line-thirteen spouse-insurer-address">
			<p>
				<%#= user.form.spouse-insurer-address %>
			</p>
		</div>
		<div class="line-fourteen spouse-insurer-policy-holder">
			<p>
				<%#= user.form.spouse-insurer-policy-holder %>
			</p>
		</div>
		<div class="line-fourteen spouse-insurer-coverage">
			<p>
				<%#= user.form.spouse-insurer-policy-holder %>
			</p>
		</div>
		<div class="line-fifteen spouse-employer-name">
			<p>
				<%#= user.form.spouse-employer-name %>
			</p>
		</div>
		<div class="line-fifteen spouse-employer-address">
			<p>
				<%#= user.form.spouse-employer-address %>
			</p>
		</div>
		<div class="line-fifteen spouse-employer-phone">
			<p>
				<%#= user.form.spouse-employer-phone %>
			</p>
		</div>
		<div class="line-sixteen spouse-employer-city">
			<p>
				<%#= user.form.spouse-employer-city %>
			</p>
		</div>
		<div class="line-sixteen spouse-employer-zip">
			<p>
				<%#= user.form.spouse-employer-zip %>
			</p>
		</div>
		<div class="line-seventeen insurance_relationship">
			<p>
				<%= user.form.insurances[0].relationship_to_patient %>
			</p>
		</div>
		<div class="line-eighteen emergency-name">
			<p>
				<%= user.form.emergencies[0].name %>
			</p>
		</div>
		
		<div class="line-eighteen emergency-relationship">
			<p>
				<%= user.form.emergencies[0].relationship_to_patient %>
			</p>
		</div>
		<div class="line-eighteen emergency-phone">
			<p>
				<%= user.form.emergencies[0].phone_number %>
			</p>
		</div>
		
		<div class="line-twenty">
			<p>
				<%= @date_today %>
			</p>
		</div>
		
	</div>

	<div id="container_2" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="line-twentyone">
			<p class>
				<%= @date_today %>
			</p>
		</div>
		<div class="line-twentytwo">
			<p>
				<%= @date_today %>
			</p>
		</div>
	</div>

	<div id="container_3" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="line-twentythree name_2">
			<p>
				<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
			</p>
		</div>
		<div class="line-twentythree date_3">
			<p>
				<%= @date_today %>
			</p>
		</div>
		<div class="line-twentyfour insur_relat">
			<p>
				<%= user.form.insurances[0].relationship_to_patient %>
			</p>
		</div>
	</div>
</div>
