<!-- *************************************************

	HTML FOR PDF JQERY POPUP IN 'NEW APPOINTMENTS'

	**************************************************** -->

<% if @format != 'pdf' %>
  <%= stylesheet_link_tag 'wpd' %>
<% else %>
  <%= wicked_pdf_stylesheet_link_tag 'wpd' %>
<% end %>

<% user = current_user %>

<div id="pdf_container" class="office_5">

	<div id="container" class="form_dimension">

		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<div class="line-one first-name">
			<p>
				<%= user.form.personal.first_name %>
			</p>
		</div>
		<div class="line-one last-name">
			<p>
				<%= user.form.personal.last_name %>
			</p>
		</div>
		
		<div class="line-six dob">
			<p>
				<%= user.form.personal.date_of_birth %>
			</p>
		</div>
		<div class="line-three user-address">
			<p>
				<%= user.form.personal.address %>
			</p>
		</div>
		<div class="line-two user-email">
			<p>
				<%= user.form.personal.email_address %>
			</p>
		</div>
		<div class="line-two city">
			<p>
				<%= user.form.personal.city %>
			</p>
		</div>
		<div class="line-two state">
			<p>
				<%= user.form.personal.state %>
			</p>
		</div>
		<div class="line-two zip">
			<p>
				<%= user.form.personal.zip_code %>
			</p>
		</div>

		<% if @format != "pdf" %>
					
			<div class="line-four cell-phone">
				<p>
					<%= user.form.personal.cell_phone %>
				</p>
			</div>

		<% else %>

			<div class="line-four cell_pdf">
				<p>
					<%= user.form.personal.cell_phone %>
				</p>
			</div>

		<% end %>

		<div class="background race">
			<p>
				<%= user.form.personal.race %>
			</p>
		</div>

		<div class="background ethnicity">
			<p>
				<%= user.form.personal.ethnicity %>
			</p>
		</div>

		<div class="line-four phone">
			<p>
				<%= user.form.personal.home_phone %>
			</p>
		</div>
		
		<div class="line-eight employer-name">
			<p>
				<%= user.form.personal.employer %>
			</p>
		</div>
		<div class="line-four employer-address">
			<p>
				<%= user.form.personal.work_address %>
			</p>
		</div>
		<div class="line-eight work-phone">
			<p>
				<%= user.form.personal.employer_phone %>
			</p>
		</div>
		
			<p class="job">
				<%= user.form.personal.occupation %>
			</p>
				
		<div class="line-ten marital-status">
			<p>
				<%= user.form.personal.marital_status %>
			</p>
		</div>
		<div class="line-seventeen emergency-name">
			<p>
				<%= user.form.emergencies[0].name %>
			</p>
		</div>
		
		<div class="line-seventeen emergency-relationship">
			<p>
				<%= user.form.emergencies[0].relationship_to_patient %>
			</p>
		</div>
		<div class="line-eighteen emergency-phone">
			<p>
				<%= user.form.emergencies[0].phone_number %>
			</p>
		</div>
		
		<div class="line-twenty">
			<p>
				<%= @date_today %>
			</p>
		</div>
		
	</div>

	<div id="container_2" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="guardian_date">
			<p>
				<%= @date_today %>
			</p>
		</div>
		<div>
			<p class="line-twentyone date_2">
				<%= @date_today %>
			</p>
		</div>
		
	</div>

	<div id="container_3" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<div class="line-twentythree name_2">
			<p>
				<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
			</p>
		</div>
		<div class="line-twentythree date_3">
			<p>
				<%= @date_today %>
			</p>
		</div>
		<div>
			<p class="referring_physician">
				<%= user.form.personal.referred_by %>
			</p>
		</div>
		<div>
			
			<% user.form.medical.medications.each do |medication| %>
				<p class="left_column medication_<%=medication.id%>">
					<%= medication.info %>
				</p>
			<% end %>

			<% user.form.medical.allergies.each do |allergy| %>
				<p class="allergies allergy_<%=allergy.id%>">
					<%= allergy.info %>
				</p>
			<% end %>
			
		</div>
	</div>

	<div id="container_4" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>		

	</div>

	<div id="container_5" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>
		<p class="page_6 name_3">
			<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
		</p>
		<p class="page_6 date_5">
			<%= @date_today %>
		</p>

	</div>

	<div id="container_6" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

	</div>

	<div id="container_7" class="form_dimension">
		<% if @format != "pdf" %>
			<%= render "appointments/pdf_form_buttons" %>
		<% end %>

		<p class="name_7">
			<%= "#{user.form.personal.first_name} #{user.form.personal.last_name}" %>
		</p>
		<p class="date_7">
			<%= @date_today %>
		</p>

	</div>
</div>
