<%= form_for [@user, @form] do |f| %>
	<% if @form.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@form.errors.count, 			
			"error") %> prohibited this form from being saved:</h2>

      		  <ul>
		      	<% @form.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      	<% end %>
		      </ul>
	    </div>
  <% end %>

	<% sections = ["Personal", "Responsible Party", "Emergency", "Insurance", "Medical"] %>
	
	<div id="tabs">
		<ul>
			<% sections.each_with_index do |section, index| %>
				<li><a href=<%="#tabs-#{index+1}"%>><%="#{section}"%></a></li>
			<% end %>
		</ul>
		
		<% sections.each_with_index do |section, index| %>
			<div id=<%="tabs-#{index+1}"%>>
				<% string = "/forms"+"/#{section.split(" ")[0]}" + "/#{section.split(" ")[0].downcase}" %>
				<%= render string, :f => f, :form => @form%>
			</div>
		<% end %>

	</div>
 
  	<%= f.hidden_field :user_id %>


	<div class="form_buttons">
		<ul id="form">
			<li class="form-save"><%= f.submit "Save Progress", :class => "createButton block" %>
			</li>  		
			<% if current_user.form %>
				<li><%#= link_to 'Back', user_form_path(@form.user_id,@form), :class => 'backButton' %></li>
				<% end %>
  		</ul>
	</div>
<% end %>