<%#= wicked_pdf_stylesheet_link_tag 'mpd' %>

<div id="form_printout">
	<div class="printout_container">
		<table>
			<thead>
				<th>Demographics</th>
				<th>Medications</th>
				<th>Emergency Contacts</th>
				<th>Care Plan</th>
			</thead>
			<tbody>
				<tr>
					<td class="user-panel-image" rowspan="2">		
						
						<ul class="inline-block margin-top">
							<li class="left"><%= image_tag "patient_photo.jpg" %></li>
							<li>
								<h2 class="printout-name"><%= @user.to_s %> <%= @personal.last_name %></h2>			
								<p><%= @personal.gender %></p>
								<p><%= @user.age %></p>
								<p>Hypertension</p>								
							</li>
						</ul>
					</td>
					<td rowspan="2">
						<ul>							
							<li>
								<h2><%= @med_1.info %></h2>
							</li> 
							<li>Administration:</li>
							<li>Start date:</li>
							<li>Type (tablet, liquid, etc.)</li>
						</ul>

					</td>
					<td rowspan="2">
						<ul>							
							<li>
								<h2><%= @contact_1.name %></h2>
							</li>
							<li>
								<%= @contact_1.relationship_to_patient %>
							</li>
							<li>
								<%= "#{@contact_1.city}" + " " + "#{@contact_1.state}" + ", " + "#{@contact_1.zipcode}" %>
							</li>
							<li>
								<%= @contact_1.phone_number %>
							</li>								
						</ul>
					</td>
					<td rowspan="2">
						<ul>
							<h2>Office Consult</h2>
							<li>Instructions: Diabetes management consultation</li>
							<li>Facility: Rush University Medical Center</li>
							<li>Provider: Dr. George Katsoyannis</li>
						</ul>
					</td>

				</tr>
				<tr>
					
					
					
				</tr>
				<tr>
					<td>
						<h2>Conditions: </h2>
							<ul>
								<li>Diabetes</li>
								<li>Hyperlipidemia</li>
								<li>Hypertension</li>
							</ul>
					</td>
					<td rowspan="2">
						<ul>							
							<li>
								<h2><%= @med_2.info %></h2>
							</li> 
							<li>Administration:</li>
							<li>Start date:</li>
							<li>Type (tablet, liquid, etc.)</li>
						</ul>
					</td>
					<td rowspan="2">
						<ul>							
							<li>
								<h2><%= @contact_2.name %></h2>
							</li>
							<li><%= @contact_2.relationship_to_patient %></li>
							<li><%= @contact_2.address %></li>
							<li>
								<%= "#{@contact_2.city}" + " " + "#{@contact_2.state}" + ", " + "#{@contact_2.zipcode}" %>
							</li>
							<li><%= @contact_2.phone_number %></li>					
						</ul>
					</td>
					<td rowspan="2">
						<ul>
							<h2>Sputuum Culture</h2>
							<li>Date: 6/16/2012</li>
							<li>Facility: Lutheran General</li>						
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					
					
				</tr>
				<tr>
					
					<td></td>
					<td> </td>
					
				</tr>
			</tbody>
			
		</table>

		<table>
			<thead>
				<th>Allergies</th>
				<th>Procedures</th>
				<th>Immunizations</th>
				<th>Encounters</th>
			</thead>
			<tbody>
				<tr>
					<td><h2><%= @allergies[0].info %></h2>
						<ul>
							<li>Severity</li>
							<li>Reaction</li>
						</ul>
					</td>	
					<td rowspan="2">
						<ul>
							<h2>Lumbar Fusion w/ Screws and Rods</h2>
							<li>Date: 1/1/2013</li>
							<li>Facility: Rush University Medical Center</li>
							<li>Provider: Dr. Christopher Dewald</li>
						</ul>

					</td>
					<td>Immunization type: </td>
					<td>Encounter type: </td>
				</tr>
				<tr>
					<td><h2><%= @allergies[1].info %></h2>
						<ul>
							<li>Severity</li>
							<li>Reaction</li>
						</ul>
					</td>
					<td>Date: </td>
					<td>Date: </td>
				</tr>
				<tr>
					<td><h2><%= @allergies[2].info %></h2>
						<ul>
							<li>Severity</li>
							<li>Reaction</li>
						</ul>
					</td>
					<td rowspan="2">
						<ul>
							<h2>Cesarian Section</h2>
							<li>Date: 1/1/2013</li>
							<li>Facility: Rush University Medical Center</li>
							<li>Provider: Dr. Elena Koogan</li>
						</ul>

					</td>
					<td>Condition: </td>
					<td>Facility: </td>
				</tr>
				<tr>
					<td></td>
					
					<td>Dose: </td>
					<td>Provider: </td>
				</tr>
				<tr>
					<td></td>
					<td> </td>
					<td>Note: </td>
					<td> </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



