<!-- <p id="notice" class="success"><%= notice %><span class="close">X</span></p> -->

<h1>Your HappyHealth Form</h1>

<div class="margin-bottom">
	<ul class="inline padding-top right">
		<li>
			<%= link_to 'Edit Profile', edit_user_form_path(current_user.id, current_user.form.id), :class => 'submit-button' %>
		</li>
		<!-- <li>
			<%#= link_to "Delete Profile", user_form_path(current_user.id, current_user.form.id), :method => 'delete',  data: { confirm: 'Are you sure you want to delete your profile #{user.form.personal.first_name}? You will lose all your saved data.' }, :class => 'removeButton block' %>
		</li> -->
		<li>
			<%= link_to "Download PDF", printout_user_form_path(current_user.id, current_user.form.id), class: "submit-button" %>
		</li>
	</ul>
</div>

<div id="tabs" class="margin-top clear">
	<ul class="form-tabs">
		<li><a href="#tabs-1"><span class="icon"><%= image_tag "health_prof_small.gif" %></span>Personal</a></li>
		<!--<li><a href="#tabs-2">Responsible Party</a></li>-->
		<li><a href="#tabs-3"><span class="icon"><%= image_tag "emergency.gif" %></span>Emergency</a></li>
		<li><a href="#tabs-4"><span class="icon"><%= image_tag "ins_card_small.gif" %></span>Insurance</a></li>
		<li><a href="#tabs-5"><span class="icon"><%= image_tag "vitals.gif" %></span>Medical</a></li>		
	</ul>

	<div id="tabs-1">
		<%= render '/forms/Personal/personal_show', :form => @form %>
	</div>
	<!-- <div id="tabs-2">
		<%#= render '/forms/Responsible/responsible_show', :form => @form %>
	</div> -->
	<div id="tabs-3">
		<%= render '/forms/Emergency/emergency_show', :form => @form %>
	</div>
	<div id="tabs-4">
		<%= render '/forms/Insurance/insurance_show', :form => @form %>
	</div>
	<div id="tabs-5">
		<%= render '/forms/Medical/medical_show', :form => @form %>
	</div>
</div>