<%= form_for(@appointment, :url => user_appointments_path) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
	      <% @appointment.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>
   
  <div class="appointment-table">			 
    <ul class="row1">
		<li class="appt-column left">
			<p>Step 1</p>
		</li>
		<li class="field appt-field">
			<div>
				<label class="doctor-column">Choose your doctor's office</label>
				<div class="office">
					<%= f.collection_select :office_id, Office.all, :id, :name, :prompt => "Select an office"%>
				</div>
			</div>
		</li>
	</ul>		
	<ul class="row2">	
		
		<li class="appt-column left">
			<p>Step 2</p>			
		</li>
		<li class="doctor-field appt-field">
			<div>
				<label class="doctor-column">Select your doctor</label>
				<div class="office">
					<%= f.collection_select :doctor, Doctor.all, :title, :title, :prompt => "Please select a doctor" %>
				</div>
			</div>
		</li>
		
	</ul>
	<ul class="row3">		
  		<li class="appt-column left">
			<p>Step 3</p>			
		</li>
  		<li class="date-field appt-field">
			<div>
				<label class="doctor-column">Tell us your appointment date</label>
				<div class="office">
					<%= f.text_field :appt_date %>
				</div>
				<!-- <div>
					<label class="doctor-column">Appointment Time</label>
					<%#= f.time_select :appt_time, {prompt: true, ampm: true, minute_step: 15} %>
				</div> -->
			</div>
  		</li>		
	</ul>
	<ul class="row4">		
  		<li class="appt-column left">
			<p>Step 4</p>				
		</li>
		<li class="view-form appt-field">
			<ul>
				<li>
					<%= f.fields_for :referral_reason do |referral| %>
						
						<label class="doctor-column">Reason for Visit</label>
						<div class="office referral">
							<%= referral.text_area :visit_reason %>
						</div>
					<% end %>
				</li>
		  		<li class="margin-bottom">
					
						<label class="doctor-column">
							View this office's form
						</label>
						<button class="createButton appt-button" id="appt">
							View Form
						</button>				
					
		  		</li>
					
				<li>
					<%= f.submit 'Save Appointment', :class => 'action-button appt-button hidden', :id => 'appt' %>
					
				</li>
			</ul>
		</li>
	</ul>
  </div>

  <% f.hidden_field :user_id, :value => current_user.id %>
  
  <br /><br />
  
  <!-- ***************************** CAN BE DRYER! ********************************** -->

  	<!-- <div class="hidden">
		<%#= @office_form_partials.each do |partial| %>
	    	<%#= render partial %>
	  	<%# end %>
	</div> -->

  <%= render 'appointments/forms/clsma.pdf.html.erb', :user => current_user %>
	 
  <%= render 'appointments/forms/mada.pdf.html.erb', :user => current_user %>

  <%= render 'appointments/forms/mhc.pdf.html.erb', :user => current_user %>

  <%= render 'appointments/forms/sawlani_demographics.pdf.html.erb', user: current_user %>  
	
<% end %>
