<h1>Editing appointment</h1>

<%= form_for(@appointment, :url => {:controller => 'appointments', :action => 'update'}) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="appointment-table">
	<tr>
  	    <td class="appt-column">
			<div>
				<p>Step 1</p>
			</div>
		</td>

		<div class="field">
				<td><label class="doctor-column">Choose your doctor's office</label><div class="office"><%= f.collection_select :office_id, Office.all, :id, :name, :prompt => "Select an office"%><%#= image_tag("ok.png") %></div></td>
	  	</div>
	</tr>
	<tr>
		<td class="appt-column">
			<div>
				<p>Step 2</p>
			</div>
		</td>
		<div class="doctor-field">
			<td><label class="doctor-column">Select your doctor</label><div class="office"><%= f.collection_select :doctor_id, Doctor.office(@appointment.office_id), :id, :title, :prompt => "Please select a doctor" %></div></td>
		</div>
	</tr>

	<tr>
  		<td class="appt-column">
			<div>
				<p>Step 3</p>
			</div>
		</td>
  		<div class="date-field">
			<td><label class="doctor-column">Tell us your appointment date</label><div class="office"><%= f.text_field :appt_date, :value => @appointment.appt_date %></div></td>
  		</div>
	</tr>

	<tr class="margin-bottom">
  		<td class="appt-column">
			<div>
				<p>Step 4</p>
			</div>
		</td>
  		<div class="view-form">
			<td class="pad-bot">
				<div class="form-button">
					<label class="doctor-column">
						View this office's form
					</label>
					<button class="createButton" id="appt">View Form</button>
				</div>
				<h3 class="warning margin-top">
					Press the 'Esc' button to Exit the Form View!
				</h3>
			</td>
  		</div>  		
	</tr>
	<tr>
		<td class="pad-top"></td>
		<td>
			<ul class="appt_tab inline-block">
				<li>
					<%= link_to "Edit Form", edit_user_form_path(current_user.id, current_user.form.id), class: "submit-button short margin-top" %>			
				</li>
				<li class="actions">
					<%= f.submit 'Save Appointment', :class => 'createButton short' %>		  			
		  		</li>
  			</ul>
		</td>
	</tr>
  </table>

  <% f.hidden_field :user_id, :value => current_user.id %>
  
  <br /><br />

	<%= render 'appointments/forms/clsma.pdf.html.erb', :user => current_user %>
	 
  <%= render 'appointments/forms/mada.pdf.html.erb', :user => current_user %>

  <%= render 'appointments/forms/mhc.pdf.html.erb', :user => current_user %>

  <%= render 'appointments/forms/sawlani_demographics.pdf.html.erb', user: current_user %>

<% end %>