<h1>Appointment Details</h1>

<div class="margin-bottom right">
	<ul class="appointment inline-block right">
		<li>
			<%= link_to 'Edit Appointment', edit_user_appointment_path(current_user.id, @appointment.id), :class => 'submit-button' %>
		</li>
		<li>
			<%= link_to "Remove Appointment", user_appointment_path(current_user.id, @appointment.id), :method => 'delete', :class => 'submit-button'%>
		</li>
	</ul>
	
</div>

<div class="widget clear margin-top">
<!-- <%= image_tag('dualnote.jpg').html_safe %>-->
	<h2 class="left">Office Details</h2>
		<dl class="dashAppointments clear">
			<dt>Office</dt>
			<dd>
				<%= Office.find_by_id(@appointment.office_id).name %>
			</dd>
			<dt>Doctor</dt>
			<dd><%= @appointment.doctor.title %></dd>
			<dt>Appointment Date</dt>
			<dd>
				<%= @appointment.appt_date.strftime("%B %d, %Y") %>
			</dd>
		</dl>
		<p>
			<% if current_user.is_admin == true %>
				<%= link_to "New Insurance Query", new_insurance_query_url(controller: 'insurance_queries') %>
			<% end %>
		</p>
</div>
<div class="widget">
	<h2 class="left">Contact Information</h2>
	<dl class="dashAppointments clear">
		<dt>Address</dt>
		<dd><%= @appointment.office.address%></dd>
		<dd>
			<%= "#{@appointment.office.city}, #{@appointment.office.state} #{@appointment.office.zipcode}"%>
		</dd>
		<dt>Phone Number</dt>
		<dd><%= @appointment.office.phone %></dd>
		<dt>Fax Number</dt>
		<dd><%= @appointment.office.fax %></dd>
		<% if @appointment.office.email %>
			<dt>Email</dt>
			<dd><%= @appointment.office.email %></dd>
		<% end %>
	</dl>
</div>

<ul class="inline-block right margin-bottom">
		<li>
			<%= link_to '<< Back to Calendar', user_appointments_path(current_user.id), :class => "submit-button" %>
		</li>
		<!-- Comment-out to enable 'View in separate tab' functionality; un-comment for direct-download of PDF -->
		<li>
			<%= link_to "Download Office Form", pdf_path(@appointment.id, :office_id => @appointment.office.id, :format => "pdf"), :class => "submit-button" %>
		</li>

		<!-- Comment-out for direct-download of PDF functionality; un-comment to view PDF in separate window
		<li>
			<%#= link_to "View PDF", pdf_path(@appointment.id, :office => @appointment.office.pdf.form_name, :format => "pdf"), :class => "pdfButton", target: "_blank" %> -->
		</li>
	</ul>