<h1>Appointment Details</h1>

<div class="margin-bottom right">
	<ul class="appointment inline-block right">
		<li class="margin-right">
			<%= link_to 'Edit Appointment', edit_user_appointment_path(current_user.id, @appointment.id), :class => 'submit-button' %>
		</li>
		<li>
			<%= link_to "Remove Appointment", user_appointment_path(current_user.id, @appointment.id), :method => 'delete', :class => 'submit-button'%>
		</li>
	</ul>
	
</div>

<!-- <div id="map-canvas">
  <div>
    <input id="address" type="textbox" value="Chicago, IL">
    <input type="button" value="Encode" onclick="codeAddress()">
  </div>
</div> -->

<div class="widget clear margin-top dashAppointments">
<!-- <%= image_tag('dualnote.jpg').html_safe %>-->
	<ul class="right margin-bottom">
		<li>
			<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@appointment.office_lat},#{@appointment.office_long}&zoom=15&size=400x300&maptype=roadmap
	&markers=color:red%7Ccolor:red%7Clabel:A%7C#{@appointment.office_lat},#{@appointment.office_long}&sensor=false" %>
		</li>
		<li class="margin-top">
			<p class="right">
				<%= link_to "Download Office Form", pdf_path(@appointment.id, :office_id => @appointment.office.id, :format => "pdf"), :class => "block action-button" %>
			</p>
			<p>
				<strong>Average Yelp Rating:</strong><br />
				<img src="<%=@response['businesses'][1]['rating_img_url']%>" />
			</p>
			<p>
				<strong>Total Reviews: </strong><%= @response["businesses"][1]["review_count"] %> 
			</p>
			<p>
				<%= link_to "See all reviews", @response["businesses"][1]["url"], target: "_blank" %>
			</p>
		</li>		
	</ul>

	<div class="team-info">
		<dl>
			<h2 class="panel-title">Appointment Information</h2>
				<dt>Office</dt>
					<dd>
						<%= Office.find_by_id(@appointment.office_id).name %>
					</dd>
				<dt>Doctor</dt>
					<dd><%= @appointment.doctor.title %></dd>
				<dt>Appointment Date and Time</dt>
					<dd>
						<%= @appointment.appt_date.strftime("%B %d, %Y") %>
						<%#= @appointment.appt_date %>
					</dd>
					<dd>
						<%#= @appointment.appt_time.strftime("%l:%M") %>
						<%#= @appointment.appt_time %>
					</dd>
				<dt>Reason for Visit</dt>
					<dd>
						<%= @appointment.referral_reason.visit_reason %>
					</dd>
		</dl> 

		<dl>
			<h2 class="panel-title">Office Details</h2>	
				<dt>Address</dt>
					<dd>
						<%= @appointment.office.full_address %>
					</dd>
				<dt>Phone Number</dt>
					<dd><%= @appointment.office.phone %></dd>
				<dt>Fax Number</dt>
					<dd><%= @appointment.office.fax %></dd>
					<% if @appointment.office.email %>
						<dt>Email</dt>
						<dd><%= @appointment.office.email %></dd>
					<% end %>
		</dl>

		<p>
			<% if current_user.is_admin == true %>
				<%= link_to "New Insurance Query", new_insurance_query_url(controller: 'insurance_queries') %>
			<% end %>
		</p>
	</div>		
	
</div>

<ul class="inline-block right margin-bottom">
		<li>
			<%= link_to '<< Back to Calendar', user_appointments_path(current_user.id), :class => "submit-button" %>
		</li>
		<!-- Comment-out to enable 'View in separate tab' functionality; un-comment for direct-download of PDF -->
		

		<!-- Comment-out for direct-download of PDF functionality; un-comment to view PDF in separate window
		<li>
			<%#= link_to "View PDF", pdf_path(@appointment.id, :office => @appointment.office.pdf.form_name, :format => "pdf"), :class => "pdfButton", target: "_blank" %> -->
		</li>
	</ul>