<% unless @current_page == 'printout' %>

	<%= render 'layouts/top-panel' %>

	<aside class="left-panel left margin-top">
		<ul id="nav-tab">
	        <% if current_user.form %>
				<li class="fluid-hide <%=@current_page%>_profile margin-bottom">
					<span class="icon"><%= image_tag "health_prof_small.gif" %>
					</span>
					<span class="nav-tab-link"><%= link_to "Profile", user_form_path(current_user.id, current_user.form.id), :class => "show_form" %>
					</span>
				</li>
			<% else %>
				<li class="fluid-hide <%=@current_page%>_profile margin-bottom">
					<span class="icon"><%= image_tag "health_prof_small.gif" %>
					</span>
					<span class="nav-tab-link"><%= link_to "Fill-out Profile", new_user_form_path(current_user.id), :class => "new_form" %>
					</span>
				</li>
			<% end %>
			<li class="fluid-hide <%=@current_page%>_offices margin-bottom">
				<span class="icon"><%= image_tag "offices_small.gif" %>
				</span>
				<span class="nav-tab-link">
	        		<%= link_to "Offices", offices_path %>
	        	</span>
	        </li>
	        <li class="<%=@current_page%>_list">
				<span class="icon"><%= image_tag "notes_small.gif" %></span><span class="nav-tab-link"><%= link_to "Notes", user_notes_path(current_user.id) %></span>
			</li>               

	<!-- ******** COMMENT OUT FOR BETA *************
			
			<li class="fluid-hide">
				<%#= link_to "New Appointment", new_user_appointment_path(current_user.id)%>
			</li>
	      	<li class="fluid-hide">
	      		<%#= link_to "Scheduled Appointments", user_appointments_path(current_user.id) %>
	      	</li>
			
			
			<li>
				<%#= link_to "Query Insurance", new_insurance_query_url %>			
			</li>-->			
	    </ul>
		
		<!-- <%# if current_user.form %>
			<ul id="form">
				<li>
					<%#= link_to 'Edit Form', edit_user_form_path(current_user.id, current_user.form.id), :class => "createButton" %> 
				</li><br />
				<li>
					<%#= link_to 'Remove Form', user_form_path(current_user.id, current_user.form.id), :class => "removeButton", :method => "delete",  data: { confirm: 'Are you sure?' } %>
				</li>
			</ul>
			
		<%# end %> -->

		<% unless @current_page != "office_index" %>
			<%= render 'layouts/office_request' %>
		<% end %>

		<div>
			<h2 class="margin-top panel-title border-top padding-top"><span class="feed_icon"><%= image_tag "care_team_small.gif" %></span>Your Care Team</h2>
		</div>	

		<div>
			<ul class="margin-top">
			    <li class="margin-bottom">
			      <p>
			      	Invite a new doctor, hospital or clinic to join your Care Team via email, and view your health profile.
			      </p>
			    </li>
			    <li>
			      <a href="mailto:your.doctor@your.doctor.email.com?subject=Invite%20to%20View%20[Your_Name]'s%20HappyHealth%20Medical%20Profile&amp;body=Hi%20[doctor_or_office_contact's_name].%20I%20am%20your%20patient%20[your_name],%20and%20I%20want%20to%20invite%20you%20to%20join%20my%20Care%20Team%20on%20HappyHealth%20and%20view%20my%20health%20profile%20online%20to%20better%20manage%20my%20chealth.%0D%0A%0D%0ACan%20you%20please%20add%20the%20following%20Office%20information%20to%20your%20site?%0D%0A%0D%0AOffice%20name:%20[office_name]%0D%0AOffice%20phone%20number:%20[phone_number]%0D%0AMy%20appointment%20Date:%20[appt_date]%0D%0A%0D%0AContact%20Email:%20[email]%0D%0A%0D%0AThanks%20so%20much%20and%20keep%20rocking%20on!" title="The Invite will automatically open your email client" class="action-button block">Invite!</a>
			    </li>
			</ul>
		</div>
			<% current_user.doctors.each do |doctor| %>
				
				<div class="widget panel margin-top care-team clear">
					<div class="left team-photo">
						<%= image_tag 'medication_small.gif', class: "left" %>
					</div>					
					<div class="panel-tab team-info">
						<h3>Dr. <%= doctor.name %></h3>		
						<p class="care-team-doc"><strong><%= doctor.office.name %></strong></p>
					
						<ul class="panel-stage hidden">
							<li><%= doctor.office.address %></li>
							<li><%= "#{doctor.office.city }, #{doctor.office.state } #{doctor.office.zipcode}" %></li>
							<li><u>P:</u> <%= doctor.office.phone %></li>
						</ul>
					</div>									
				</div>					
			<% end %>

	</aside>

<% end %>

<!-- **************** MAIN ARTICLE CONTAINER ******************** -->

	<article class="left">
		<% if notice.present? %>
			<p id="notice" class="success"><%= notice %><span class="close">X</span></p>
		<% end %>
		<%= flash[:error] %>
		<%= yield %>
	</article>

<!-- ************************************************************ -->

<% unless @current_page == 'printout' %>

	<aside class="right-panel right margin-top">

		<h2 class="panel-title" class="margin-bottom">Your Care Plan</h2>

		<ul class="widget margin-top">			
			<li class="widget-list">
				<span class="icon"><%= image_tag "encounters_small.gif" %></span><span><h3 class="inline">Appointments</h3></span>
				<fieldset class="dashAppointments">
					<legend>8:00 AM | <%= current_user.appointments.last.appt_date.strftime("%b %d, %Y") %></legend>	
					<dl>
						<dt>Location:</dt>
						<dd><%= current_user.appointments.last.office.name %></dd>
					
						<dt>Physician:</dt>
						<dd><%= current_user.appointments.last.doctor.title %></dd>
					</dl>
					<!-- Placeholder for database-backed content -->
					<ul class="inline right">
						<li><%= link_to "View Details", user_appointment_path(current_user, current_user.appointments.last), class: "see-more" %></li> |
						<li>
							<%= link_to "View all", user_appointments_path(current_user.id), class: "see-more" %>
						</li>
					</ul>
					<!-- <a href="#" class="right see-more">See more</a> -->
		
				</fieldset>
			</li>
			<li class="widget-list">
				<span class="icon"><%= image_tag "medication_small.gif" %></span><span><h3 class="inline">Medications</h3></span>
				<fieldset class="dashAppointments">
					<legend>Tonight - 9:00PM</legend>	
					<dl>
						<dt><%= current_user.form.medical.medications.last.info %></dt>
						<dd>1 tablet per mouth.</dd>
					
						<dt>Notes:</dt>
						<dd>Take 1 hour before bedtime.</dd>
					</dl>
					<!-- Placeholder for database-backed content -->
					<a href="#" class="right see-more">See more</a>
		
				</fieldset>
			</li>
			<li></li>
		</ul>
	</aside>

<% end %>
