<aside class="left">
	<ul id="nav-tab">
        <% if current_user.form %>
			<li class="<%=@current_page%>_profile margin-bottom"><%= link_to "Display Health Profile", user_form_path(current_user.id, current_user.form.id), :class => "show_form" %></li>
		<% else %>
			<li class="fluid-hide <%=@current_page%>_profile margin-bottom"><%= link_to "Fill-out Health Profile", new_user_form_path(current_user.id), :class => "new_form" %></li>
		<% end %>
		<li class="fluid-hide <%=@current_page%>_offices margin-bottom">
        	<%= link_to "View Office Registry", offices_path %>
        </li>
        <li class="<%=@current_page%>_list">
			<%= link_to "View Notes", user_notes_path(current_user.id) %>
		</li>               

<!-- ******** COMMENT OUT FOR BETA *************
		
		<li class="fluid-hide">
			<%#= link_to "New Appointment", new_user_appointment_path(current_user.id)%>
		</li>
      	<li class="fluid-hide">
      		<%#= link_to "Scheduled Appointments", user_appointments_path(current_user.id) %>
      	</li>
		
		
		<li>
			<%#= link_to "Query Insurance", new_insurance_query_url %>			
		</li>-->			
    </ul>
	
	<!-- <%# if current_user.form %>
		<ul id="form">
			<li>
				<%#= link_to 'Edit Form', edit_user_form_path(current_user.id, current_user.form.id), :class => "createButton" %> 
			</li><br />
			<li>
				<%#= link_to 'Remove Form', user_form_path(current_user.id, current_user.form.id), :class => "removeButton", :method => "delete",  data: { confirm: 'Are you sure?' } %>
			</li>
		</ul>
		
	<%# end %> -->
</aside>

<article>
	<% if notice.present? %>
		<p id="notice" class="success"><%= notice %><span class="close">X</span></p>
	<% end %>
	<%= flash[:error] %>
	<%= yield %>
</article>