<!DOCTYPE html>
	
<html lang="eng">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
  		<title>HappyHealth</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application", "bluebutton", "bluebutton-pull-client" %>
  		<%#= wicked_pdf_stylesheet_link_tag "application" %>	  		
  		<%= csrf_meta_tags %>  		
	</head>

	<body id="main" class="<%= @enterpage %>">

		<% unless @enterpage %>
	
		<%= render 'layouts/header' %>

		<% end %>
			
		<div class="container_12">

		<% if current_user %>
			<%= render 'layouts/sidebar'%>
		<% else %>
			<%= yield %>		
		<% end %>
		</div>	
		
		<% if @enterpage %>

			<div class="signin-footer clearfix">
				<p class="right margin-right enter-text">
					Built by <a href="http://rashadsalaam.com" title="Rashad's Website" target="_blank">Rashad</a>
				</p>
			</div>

		<% else %>
			<%= render 'layouts/footer'	%>
		<% end %>

	</body>
	
</html>