<!DOCTYPE html>
	
<html lang="eng">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>HappyHealth</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application", "bluebutton", "bluebutton-pull-client" %>
  		<%#= wicked_pdf_stylesheet_link_tag "application" %>		
  		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  		<%= csrf_meta_tags %>
	</head>

	<body id="main">
	
		<%= render 'layouts/header' %>

		<p class="bluebutton-banner">
			We're  in the BlueButton+ Co-Design Challenge Finals. <a href="http://www.health2con.com/devchallenge/blue-button-co-design-challenge/" target="_blank">Learn more,</a> and <a href="http://uservoice.com/a/9e9Qt" target="_blank">Vote for Us!</a>
		</p>
			
		<div class="container_12">

		<% if current_user %>
			<%= render 'layouts/sidebar'%>
		<% else %>
			<%= yield %>		
		<% end %>
		</div>	
		
		<%= render 'layouts/footer'	%>
			
	</body>
	
</html>