<!DOCTYPE html>
	
<html>
	<head>
  		<title>HappyHealth</title>
  		<%= stylesheet_link_tag    "application", :media => "screen" %>
  		<%= javascript_include_tag "application" %>
  		<%= wicked_pdf_stylesheet_link_tag "application" %>
  		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  		<%= csrf_meta_tags %>
	</head>

	<body id="main">
			<%= yield %>		
	</body>
</html>